[2019-05-20 16:45] pragnagopa commented on #291
cc @maiqbal11
This is similar issue as https://github.com/Azure/azure-functions-python-worker/issues/380.

To achieve this in a non breaking way, [HttpRequestMessage.java](https://github.com/Azure/azure-functions-java-library/blob/dev/src/main/java/com/microsoft/azure/functions/HttpRequestMessage.java) needs to expose getRawBody helper similar to javascript

[2019-05-26 06:46] axel-op opened #293 "Optional route parameter without type is not correctly parsed"
#### Investigative information

- Timestamp: 2019-05-26 05:43:59.033 UTC
- Invocation ID: 90a11823-2911-41aa-969c-f228f75865a0
- Region: France Central

#### Repro steps

*This behavior is only reproductible when the function app is executed on Azure, and it does not appear when running locally*

Run an Http triggered Function App which contains an optional route parameter without type specified w

[2019-06-04 07:20] SoucianceEqdamRashti commented on #120
When will java 11/12 be available for azure functions?

[2019-06-04 22:02] varsanyid opened #294 "Locate tools.jar"
I'm trying to deploy an application that's using ToolProvider but it keeps returning null values. Is there a way to locate tools.jar?

[2019-06-05 10:08] varsanyid commented on #294
After digging deeper I realised there is no JDK in the container, and the JRE doesn't come with the compiler tools.

[2019-06-05 10:08] #294 closed

[2019-06-06 14:55] pragnagopa commented on #283
cc @FabianMeiswinkel

[2019-06-06 14:55] pragnagopa commented on #120
cc @FabianMeiswinkel

[2019-06-06 14:58] pragnagopa commented on #83
cc @FabianMeiswinkel

[2019-06-08 19:21] smil2k commented on #60
Both can be supported easily:
- Can check for CompletableFuture with instanceof (and then .thenApply() can be used)
- Some libraries still return vanilla Future so it would make sense to support those. (executor/http thread needs to be blocked)

Additionally there can be two styles:

Future<HttpResponse> handler(...)

or

void handler(..., CompletableFuture<HttpResponse> res) {
}
... some thread s

[2019-06-13 00:20] sureddy1 commented on #246
We are actively working to fix this issue. This is specific to the java version used with functions.

Can you use this workaround for now:

1) Upload a custom JRE (lets say JRE 1.8_0_202) to D:/home/site/jre1.8.0_202 and add these application settings for your function from portal:

Key: languageWorkers:java:defaultExecutablePath
Value: D:/home/site/jre1.8.0_202/bin/java

If you are using consumpt

[2019-06-13 20:09] fabiocav commented on #292
Blocked on ANT 83 deployment.

[2019-06-13 20:11] celedorph opened #308 "Java AppSettings disappearing from environment variables"
#### Investigative information

Please provide the following:

- Timestamp: 2019-06-13T19:49:31.860
- Function App version (1.0 or 2.0): 2.0
- Invocation ID: 35d80104-26eb-426e-9850-9aaa27a0cd2b
- Region: eastus

#### Repro steps

Provide the steps required to reproduce the problem:

1. Call System.getenv with the key of an existing AppSetting

#### Expected behavior

1. The value returned will be

[2019-06-13 22:17] selvasingh commented on #292
Added @selvasingh

[2019-06-21 18:09] nzthiago commented on #208
Similarly to this feedback, we have worked recently with large enterprise customers who ask for support for JUL, Log4J (especially), and SFL4J as context loggers in Java Azure Functions.
They use these loggers in their application and would not like to migrate to the Context Logger due to different API and impossibility of logging in static initializers.  (@asavaritayal FYI)

[2019-06-21 23:11] asavaritayal commented on #208
+ @kulkarnisonia16 @jeffhollan FYI

[2019-06-23 16:50] pragnagopa commented on #290
Java 11 is not supported yet. Please watch #194  for updates.

[2019-06-23 16:50] #290 closed

[2019-06-24 13:16] yevster opened #295 "Exceptions in static blocks blocks not caught/recorded"
When an exception occurs in a static initialization, it is not logged in AppInsights.

#### Investigative information

Please provide the following:

- Timestamp: 2019-06-21T17:48:38.384
- Invocation ID: `48d86a7c24b1354196e9c0c9b6ee7d19`
- Region: Central US

#### Repro steps
Here's a sample function to reproduce:

[code]
And here's what AppInsights shows when queried for all exceptions and trace

[2019-07-01 16:24] pragnagopa commented on #291
cc @anirudhgarg @kulkarnisonia16

[2019-07-01 17:24] maiqbal11 commented on #291
I can work with @amamounelsayed to achieve the functionality we had added for Java. Just going to mention some things to note top of mind. Since Python is in preview, we were able to change the default behavior for the body to be raw bytes. Would this be a concern for Java since it is already in GA? Would the raw bytes be exposed as an option to the user rather than the default?

[2019-07-01 17:43] pragnagopa commented on #291
Thanks @maiqbal11 ! Since this is a new feature, We should just expose rawBytes similar to python.

[2019-07-01 19:42] yevster commented on #249
You can use MSI this way:
[code]
Then, use the "azure" object as you would normally when using the Azure SDK.

I hope to be able to get a code sample up soon, but in the meanwhile, this should be added to the documentation.

[2019-07-01 23:01] yevster commented on #249
[Pull request here](https://github.com/MicrosoftDocs/azure-docs/pull/34347)

[2019-07-03 00:25] jeffhollan commented on #276
Wondering if we move this to a P2?  Been a P1 for a bit now but open to it

[2019-07-03 04:36] kulkarnisonia16 opened #296 "Improving dev experiences"
Metric: A new Java developer should be able to deploy using Azure functions within 5 minutes

-Maven

- Should include experiences for creating triggers and bindings
       - Pick resources in real time from default subscription
- Should generate local settings.json with parameters ready to run
- Should provision and configure AI
- Should warm up the function (post deployment operation) - Kudu Api

[2019-07-03 04:40] kulkarnisonia16 commented on #296
Metric: A new Java developer should be able to deploy using Azure functions within 5 minutes
Sample code for top triggers and bindings - Spring cloud functions (if there is interest)

[2019-07-05 15:51] pragnagopa commented on #276
This is still a P1. @amamounelsayed - Please look at this after throughput investigation

[2019-07-07 21:00] amamounelsayed opened #297 "Java runtime with Event hub, Binary datatype and Cardinality many"
#### Investigative information

When posting a byte[] message to the event hub, the input message that I receive at Azure function is of type char[] and not byte[] and I get errors. Changing the Cardinality as "One", I get proper byte[], but it is not what cx needs.

Example:
@FunctionName("EventHubCall")
    public void eventHubProcessor(
            @EventHubTrigger(name = "msg", eventHubName =

[2019-07-09 09:46] AMAJAVA opened #307 "System.Private.CoreLib: Exception while executing function: Functions.uploadFile. System.Private.CoreLib: Result: Failure Exception: ClassNotFoundException: org.apache.commons.net.ftp.FTPClient"
Hi All,
I'm trying to implement a basic FTP connection using AZURE functions with java and the FTPClient library "org.apache.commons.net" but when executing the azure function locally i get this error
` Java HTTP trigger processed a request.
[09/07/2019 09:22:26] Executed 'Functions.uploadFile' (Failed, Id=b1ef0542-02b8-4100-a9bc-537c5233079d)
[09/07/2019 09:22:26] **

**
[09/07/2019 09:22:26]   a

[2019-07-09 22:03] pragnagopa commented on #292
This is addressed in commit #https://github.com/Azure/azure-functions-java-worker/commit/40096767c91b5456b1093e9f86b8ecfa7c09f48a

[2019-07-09 22:03] pragnagopa commented on #292
Released https://github.com/Azure/azure-functions-java-worker/releases/tag/1.5.0

[2019-07-09 22:03] #292 closed

[2019-07-10 16:59] kulkarnisonia16 opened #300 "E2E Tutorial with Event hubs trigger and cosmos db output"
- Azure CLI creation - Event Hubs and Cosmos DB
- Maven deploy
- Execute

Good to have:
- App Insights
- DevOps
- Link to how to manage secrets

[2019-07-10 17:10] kulkarnisonia16 opened #301 "Best practices for performant Java functions"
- How to connect to databases? Connection pooling?
- How to access Cosmos DB client?
- How to load dependencies?
- How to pipe logs from dependent libraries into function logging?
- What should be the default memory allocation for Java function app?
- When and how to use App Service Plan | Premium Functions? Related, how to for Java?

[2019-07-10 17:11] kulkarnisonia16 opened #302 "Disaster Recovery and High Availability practice"

[2019-07-10 17:12] kulkarnisonia16 opened #303 "Spring Cloud Functions in Azure Functions"
Quick start and developer guide
Sample code for top triggers and bindings

[2019-07-10 17:17] kulkarnisonia16 opened #304 "Gradle plugin for functions"

[2019-07-10 17:53] kulkarnisonia16 opened #305 "Enable app insights by default for maven publish"

[2019-07-12 16:33] pragnagopa opened #306 "Azure KeyVault SDK - getSecret throws java.lang.ClassCastException"
We have identified an issue with using Key vault SDK getSecret  API in Azure Functions. We are actively working on rolling out a fix. Until then please add follow instructions app settings to mitigage:
- Add AppSetting Key `languageWorkers:java:defaultExecutablePath` with value set to `D:\Program Files\Java\jre1.8.0_181\bin\java`
- App setting key `WEBSITE_USE_PLACEHOLDER` with value set to `0`

*

[2019-07-13 03:53] jcbrooks92 commented on #245
I believe this was fixed, closing for now.

[2019-07-13 03:53] #245 closed

[2019-07-13 07:57] ielcoro commented on #306
We lost almost a day trying to workaround this in a critical path of our system, however we found another workaround that maybe does not increase cold starts. It looks like between versions the default order for java security providers was modified from this:

[code]

To this:

[code]

So we use this code before calling `getSecret`to reorder the security providers:

[code]

[2019-07-15 21:09] pragnagopa commented on #307
Is org.apache.commons.net included as part of the dependecies?

[2019-07-15 22:00] AMAJAVA commented on #307
Yes it is included as part of the dependencies

[2019-07-17 17:37] kulkarnisonia16 commented on #308
@celedorph - Are you doing something special in this app or is it a generic out of box app? Is it possible to share a sample? Please also share app name.

[2019-07-19 16:15] kulkarnisonia16 commented on #308
cc @pragnagopa

[2019-07-19 16:19] kulkarnisonia16 commented on #305
Will be moved to maven repo

[2019-07-19 16:22] kulkarnisonia16 commented on #305
Dupe of https://github.com/microsoft/azure-maven-plugins/issues/574

[2019-07-19 16:25] kulkarnisonia16 commented on #304
Dupe of https://github.com/microsoft/azure-maven-plugins/issues/671

[2019-07-19 16:51] kulkarnisonia16 commented on #269
Is this still happening?

[2019-07-19 16:53] kulkarnisonia16 commented on #265
This is fixed and released.

[2019-07-19 16:53] #265 closed

[2019-07-19 21:50] arun-bn commented on #269
In production, we have switched to service plan, which does not unload the function. But obviously it does go back on the promise of  serverless functions.

I do have a version in Q/A which keeps this function alive by another function.  Also have another  version in dev that is kept as is. We do notice that the issue used to happen uptil recently.

I will have to review the logs, to see if this i

[2019-07-21 15:52] patriot1burke opened #310 "Hooks for DI frameworks"
Function classes are instantiated directly via Class.newInstance().  Would be great if Functions has some simple hooks to integrate DI frameworks (Spring, Guice, Arc, CDI).  A function deployment could publish a simple interface:

[code]

This interface could be discovered via a [ServiceLoader ](https://docs.oracle.com/javase/8/docs/api/java/util/ServiceLoader.html) bundled in the app jar, and/or

[2019-07-23 13:35] pragnagopa commented on #62
Closing as the linked PR addressed this issue

[2019-07-23 13:35] #62 closed

[2019-07-23 13:42] pragnagopa commented on #291
cc @yojagad
PR: https://github.com/Azure/azure-functions-host/pull/4660/files addresses this issue.
@yojagad  - Please verify if following function works with your changes

[code]

[2019-07-23 21:45] pragnagopa commented on #252
@anirudhgarg  / @amamounelsayed  - I will pick this up.

[2019-07-24 20:15] fabiocav commented on #246
This is resolved with the release currently being deployed. Please use https://github.com/Azure/app-service-announcements/issues/188 to track the deployment progress.

[2019-07-24 20:15] fabiocav commented on #306
This is resolved with the release currently being deployed. Please use https://github.com/Azure/app-service-announcements/issues/188 to track the deployment progress.

[2019-07-24 20:15] #306 closed

[2019-07-25 07:04] Ajay-Negi opened #315 "ExecutionContextDataSource cannot be cast to java.lang.String"
#### Problem Description
I have created a Azure Function app with a "saveUser" azure function of type POST. It was working fine earlier but now when I hit it, I get 500 Internal Server Error.
I face the same issue with other PUT or POST request where I am sending details in json string DTO. GET methods are working fine though.

#### Investigative information

- Timestamp:  2019-07-25T06:34:59.353

[2019-07-25 23:12] amamounelsayed commented on #297
https://github.com/Azure/azure-functions-java-worker/pull/316

[2019-07-25 23:12] #297 closed

[2019-07-31 00:10] yojagad opened #319 "Support "RpcHttpBodyOnly"capability"
Host has a "RpcHttpBodyOnly" capability where it does not send duplicated data through gRPC. It only sends the "body" property which is either bytes or string.

Reference PR: Azure/azure-functions-host#4660

Java needs to make modifications on the worker side accordingly in order to decode it whenever necessary.

Also need to support RpcHttpTriggerMetadataRemoved
Reference https://github.com/Azure

[2019-08-01 14:05] pragnagopa commented on #246
On AppService, JAVA_HOME  is set to D:\Program Files\Java\zulu8.31.0.2-jre8.0.181-win_x64 while the latest JRE on AppService is: D:\Program Files\Java\zulu8.36.0.1-jre8.0.202-win_x64.   Needs to be updated.

[2019-08-01 17:45] pragnagopa commented on #246
Confirmed with customer issue is resolved. It works with both zulu8.31.0.2-jre8.0.181-win_x64  and zulu8.36.0.1-jre8.0.202-win_x64.

[2019-08-01 17:45] #246 closed

[2019-08-05 16:40] pragnagopa commented on #55
@kyale-mwendwa - we have made several changes / improvements on we load dependencies for java functions. Can you please let us know if this still reproes?

[2019-08-05 16:41] pragnagopa commented on #60
Tracking issue #244

[2019-08-05 16:41] #60 closed

[2019-09-03 05:24] amamounelsayed opened #320 "Inhance the number of RPS requests between host and Java worker"
#### Repro steps

	The simplest code is https://github.com/amamounelsayed/azure-functions-benchmark-host/tree/feature/java-benchmark-simple,
	Use Forkpool instead of cachethreadpool: https://github.com/amamounelsayed/azure-functions-benchmark-host/tree/feature/java-benchmark-forkthreadpool
	Created a log https://github.com/amamounelsayed/azure-functions-benchmark-host/tree/feature/java-benchmar

[2019-09-03 10:02] pragnagopa commented on #320
@amamounelsayed  - please send PR to https://github.com/pragnagopa/azure-functions-benchmark-host adding benchmark Java worker

[2019-09-03 17:13] amamounelsayed commented on #320
@pragnagopa https://github.com/pragnagopa/azure-functions-benchmark-host/pull/7 Thank you

[2019-09-06 22:07] ravikanth534 opened #321 "RpcHttpRequestDataSource cannot be cast to java.lang.String #255"
This issue is still reproducible for HttpTrigger.

I'm trying to upload a file to azure storage through azure fucntion. I was successful in uploading plain text file but the files are getting corrupted for any other type of files. What I observed is that the bytes that I'm receiving are lesser than the actual size(bodyLength < contentLength).

I tried to change the request data type to HttpRequest

[2019-09-10 16:12] pragnagopa opened #322 "Investigate java cold start runners"
Tracking issue to investigate existing java cold start runners and figure out if we have right alerts setup.

cc @paulbatum @anirudhgarg

[2019-09-10 16:42] amamounelsayed commented on #322
@pragnagopa I will have a meeting with @shrishrirang and discuss any required tests.

[2019-09-18 17:45] kulkarnisonia16 commented on #295
@amamounelsayed - Check if this happens in other languages.

[2019-09-18 17:49] kulkarnisonia16 commented on #293
@amamounelsayed - Ensure this does not return null pointer exception and investigate what work is needed to fix this.

[2019-09-18 17:52] kulkarnisonia16 opened #324 "Support dependency injection"

[2019-09-18 17:58] #249 closed

[2019-09-18 18:03] kulkarnisonia16 opened #325 "Adding Java check-in tests for Antares"

[2019-09-24 11:18] grimsi opened #328 "Can't list files from FTP server using apache commons-net ftp client"
#### Investigative information

Please provide the following:

- Timestamp: 2019-09-24T11:08:22.952
- Function App name: aqm-function-ftptest-dev01
- Function name(s) (as appropriate): FTP-Test
- Invocation ID: 096c1857-6bbf-4887-84d1-e87e969d87a7
- Region: West Europe

#### Repro steps

Provide the steps required to reproduce the problem:

1. Write a Java Function App that uses commons-net ftp cl

[2019-09-26 17:36] grimsi commented on #328
I was able to solve this problem by configuring the ftp server to allow passive connections.
Active FTP is unsupported in function apps sadly

[2019-09-26 17:36] #328 closed

[2019-09-27 11:18] joelw commented on #246
Is anyone else still having problems with this? I'm using runtime 2.0.12673.0 and have tried the default Java, zulu8.40.0.25-ca-jre8.0.222-win_i686, and jre1.8.0_191 (which worked on a different Functions App, but not a second one) without any success.

[2019-10-04 18:55] brettsam opened #330 "Validate Functions v3 Preview"
Details will be coming soon. Opening issues right now to track.

Functions v3 preview (on .NET Core 3) is coming soon and we'd like the language worker owners to take it for a spin first and let us know if there are any issues.

Initial plan:
- Build details coming early Mon Oct 7, with a CLI build and a private site extension links.
- Would like some kind of signoff by EOD Wed Oct 9
    - That si

[2019-10-08 23:10] brettsam commented on #330
Some directions and links have been added to https://github.com/Azure/azure-functions-host/issues/5041.

[2019-10-14 02:00] #308 closed

[2019-10-14 02:00] #269 closed

[2019-10-14 02:00] #289 closed

[2019-10-14 20:48] gilmojoa opened #331 "java function runtime discrepancy causing random exception around filepath parsing"
#### az functions version 2

#### java

#### Question

so my azure function will sometimes run without issue, usually as long as it stays up and running it will continue to work on each invocation, then if idle and restarts on next invocation, the 'filepath cannot be resolved' issue often reappears. this is the standard backslash \ forward slash / issue between different runtimes, i.e. windows vs

[2019-10-14 20:54] amamounelsayed commented on #331
@fabiocav Sounds good, We will triage it and will let you know if we need anything from host side. Thank you!

[2019-10-15 20:45] kulkarnisonia16 opened #332 "Add missing context.currentDirectory"

[2019-10-16 21:02] kulkarnisonia16 commented on #254
@amamounelsayed to check with Anatoli on this.

[2019-10-18 18:29] amamounelsayed commented on #333
@raztiff we are in the process of updating FuncExtensionBundles and we may not need it on our images anymore. Is there any reason to require it on the images or just spot checking?

[2019-10-18 18:53] amamounelsayed commented on #331
@gilmojoa Can you please share code example?

[2019-10-20 10:15] raztiff commented on #333
Thanks for replying :)

I was wanting to use the image for integration/functional testing functions or even test Java docker functionality.

[2019-10-21 14:58] gilmojoa commented on #331
hi,
unable to provide code sample at the moment, its possible this issue has been resolved as i did try implementing the sandbox java example with the addition of reading file from filepath, but unable to reproduce issue. However please see following observations which might help in explaining issue origin and whether or not this was a bug/has been resolved. would be great to have some insight aro

[2019-10-22 14:55] bsdworkin opened #334 "RpcHttpRequestDataSource cannot be cast to String"
#### Investigative information

Please provide the following:

- Timestamp: 2019-10-22T14:14:11.153
- Invocation ID:  97203b17-40c6-4fe9-a187-ff2e7451f789 (using HttpRequestMessage<Optional<String>> request)
- Invocation ID: 39006a74-ed06-49ad-a2b7-4e3d4c12f0fd (using byte[] request)
- Region: South East Asia

I'm experiencing the same error as reported from https://github.com/Azure/azure-function

[2019-11-06 16:27] #334 closed

[2019-11-13 00:33] svangeti opened #335 "Error with Httptrigger for Java function"
#### Investigative information
I am getting below error with Java function and httpTrigger on my local. The signature of the function as follows.

_> Executing 'Functions.extractText' (Reason='This function was programmatically called via the host APIs.', Id=ae9a89d0-be6c-4faa-b61c-085fc195c99f)

#### Repro steps

Run the function locally and execute with HTTP endpoint with curl command

#### Expe

[2019-11-14 14:35] ericwyles commented on #120
Hi, any update for java 11 support? I'm running on to the same ClassCastException running Maven target referenced in #14927

Java 11 is LTS and has been out for a while, was curious if anyone is actively working on updating.

Thanks

[2019-11-15 04:24] kulkarnisonia16 opened #336 "Rich bindings for Java Service Bus so they can do deadletter / defer / logic"

[2019-11-15 04:49] venkatareddym opened #337 "ServiceBus support with partition and duplicate detection"
We try to send messages to ServiceBus using functions binding. Bellow Code worked without partitions. But we are facing issues with partition and duplicate detection.

@ServiceBusQueueOutput
@ServiceBusTopicOutput

Sample code to reproduce this issue

[code]

[2019-11-22 18:42] amamounelsayed commented on #333
We published for amd64
mcr.microsoft.com/azure-functions/java:2.0
mcr.microsoft.com/azure-functions/java:2.0-appservice

Please let us know if you there is anything we can enhance out product with.

[2019-11-22 18:42] #333 closed

[2019-11-25 22:51] #141 closed

[2019-12-04 05:02] Flanker32 opened #338 "Java function host failed to discover main classes for spring cloud function"
Function host can't find the main class of spring cloud functions and report error. Both in azure services and local.

#### Investigative information

Function core tools **2.7.1948**

#### Repro steps

1. Prepare a spring cloud function project, could do it by `git clone https://github.com/Azure-Samples/hello-spring-function-azure.git`.
2. Build the spring cloud function project by `mvn clean pac

[2019-12-10 16:39] Sarah-Aly commented on #213
Any updates on the timeline for this? We currently have a customer scenario where we could use async http api pattern & durable function would have been the best way to implement it

[2019-12-15 09:58] haonm-fpt commented on #152
i have issues same as this . but i using java 8 :(
![image](https://user-images.githubusercontent.com/58904112/70861083-2798d080-1f5c-11ea-92ce-3d3bcfb8499f.png)

[2019-12-17 19:28] kulkarnisonia16 commented on #233
@amamounelsayed - can you verify if this is fixed? Thanks!

[2019-12-18 01:06] kulkarnisonia16 commented on #213
We haven't heard a lot of customer requests for this yet. That said, we do have it in our backlog and will prioritize as we hear from customers. We will continue to use this github issue for tracking the feature - so please upvote and add scenarios here.

[2019-12-19 00:19] #330 closed

[2019-12-19 00:19] kulkarnisonia16 commented on #330
Tested.

[2019-12-21 00:09] amamounelsayed opened #339 "grpc java.util.concurrent.ExecutionException: io.grpc.StatusRuntimeException: CANCELLED: Client sendMessage() failed with Error"
The worker randomly restart using the blobInput httptrigger and bloboutput.
The httptrigger uses header not body.

[2019-12-23 21:21] amamounelsayed commented on #335
@svangeti Can you please share the all code? Thank you so much

[2020-01-08 09:19] Tetradeus commented on #301
+1

[2020-01-08 09:28] Tetradeus opened #340 "Worker dependencies must be shaded (package renamed) to avoid dependency collision"
Looking at this https://github.com/Azure/azure-functions-java-worker/wiki/Azure-Java-Functions-Worker-Dependencies, couldn't you shade common libraries in order to avoid dependency collision and runtime issue ?

I am talking about guava, netty, apache commons, ...

Right now, it is very difficult to understand why a function is failing when it happens.

I tried to use azure storage java sdk v 12.1

[2020-01-08 17:40] md42 commented on #120
Any updates on this? A public java roadmap would be nice and would help to get java folks on functions. Java 8 kind of gets out of fashion ;)

[2020-01-11 00:04] Hazhzeng opened #341 "Function Fails on NoClassDefFoundError"
#### Investigative information

Please provide the following:

- Timestamp: 2020-01-07 14:25:39.9578344
- Function App name: please contact me for more information
- Function name(s) (as appropriate): processUPSNucasCarrierUpdateFunction
- Invocation ID:
- Region: Central US (waws-prod-dm1-133)

#### Expected behavior

The function app suppose to work and continue handling EventHub requests.

####

[2020-01-13 12:24] jhauray commented on #283
+1

[2020-01-16 15:23] rcarmo commented on #213
I'm currently discussing a scenario like [this one](https://github.com/rcarmo/azure-durable-functions-node-blog-engine) to handle thousands of XML files with various transforms but where XSLT 2.0 is required (and where JavaScript is not feasible).

[2020-01-17 09:35] theav8or opened #342 "The given key was not present in the dictionary (Java)"
Possible bug in Java CosmosDB (SQL) client, when using **NULL** values in Java function.
Troubleshooting:
Tried to reset the DB
LVL (keeps track of the level in the subtree ) – fails
UDF  (User def’ Query)- works but will use up the AU on DB.

Error can be Reproduce using HTTP trigger -  https://<will-share-later->.azurewebsites.net/api/IsDocSeenBefore
Querying CosmosDB for the same table with NUL

[2020-01-19 08:57] JuntaoZhu opened #343 "Inconsistent behavior between OutputBinding<String> and OutputBinding<List<String>>"
The following code results in 2 rows in the cosmos DB

[code]

While the following code results in error

[code]

[code]

This is because the first one is serialized to an array of 2 JSON objects, when doing RPC from the Java worker to the function host.
[code]
While the later one is serialized to an array of 2 strings
[code]

Can we make the later one support adding JSON string objects to the lis

[2020-01-21 19:47] kulkarnisonia16 opened #344 "Support for preferredLocations in Cosmos DB (multi master) Input binding"
Supported for C# - https://medium.com/microsoftazure/azure-cosmos-db-functions-cookbook-multi-master-preferred-region-ac1f7c5d1d31

[2020-01-22 17:28] adamhockemeyer opened #345 "Node.js client call to Azure Functions Java requires Content-Length header set using 'https' package"
When using a Node.js client app with the 'https' package, it requires the 'Content-Length' header to be set, otherwise the Azure Functions Java app will receive a 'null' body.

In contrast, using the same Node.js client and 'https' package to call a Azure Function written in dotnet/C# successfully receives the body without the 'Content-Length' header needing to be explicitly set on the client.

##

[2020-01-23 01:28] pragnagopa commented on #345
Assigning to this sprint for investigation.

[2020-01-27 16:59] Fabiest commented on #183
Hello,

Sorry for "re-opening" this.
I'm having a weird error with the jackson lib. I'm trying to use lib A that depends on jackson annotations 2.9.6. When i run my stuff under azure functions, the code fails because it cannot find property USER_DEFAULT from jackson code. Such property only exists after jackson 2.6.0.
Now, i've tried to force 2.9.6 from my pom and reading this thread, it makes no

[2020-01-29 17:28] Fabiest commented on #183
Hello,

I'm suffering from similar problem where I want to use lib A which depends on Jackson 2.9.6 (annotations, binding, core) and lib 8 which depends on Jackson 2.4.0 (annotations).

If i force version 2.9.6 in the pom and use my code in a "console" app, it works fine, but in a function it always complains with error "NoSuchFieldError: USE_DEFAULTS" which only exists after 2.6.0 in jackson anno

[2020-02-05 17:48] amamounelsayed commented on #342
cc @fabiocav @brettsam

[2020-02-05 18:01] amamounelsayed commented on #342
The issue when call the function,
Example
@HttpTrigger(name = "req", methods = {HttpMethod.GET, HttpMethod.POST}, authLevel = AuthorizationLevel.ANONYMOUS) HttpRequestMessage<Optional<String>> request,
@CosmosDBInput(name = "dbClient",
                    databaseName ="SOME_DATABASE",
                    collectionName = "SOME_TABLE",
                    connectionStringSetting = "AzureWebJobsCos

[2020-02-10 18:07] amamounelsayed commented on #339
@FunctionName("HttpTrigger-Java")
    public HttpResponseMessage run(
            @HttpTrigger(name = "req", methods = {HttpMethod.GET, HttpMethod.POST}, authLevel = AuthorizationLevel.ANONYMOUS) HttpRequestMessage<Optional<String>> request,
            final ExecutionContext context)  throws Exception{
        context.getLogger().info("Java HTTP trigger processed a request. 1");

     //   get("h

[2020-02-19 20:27] kulkarnisonia16 opened #346 "Support function to returns a byte stream rather than fixed content"
An HttpTriggered Java function app is trying to stream file down to the caller without having to load it all in memory. In returning the stream, functions hangs the socket forever - same behavior locally and in Azure.

[2020-02-20 18:10] brandonh-msft commented on #213
@kulkarnisonia16 Financial Services Industry is dominated by Java; this blocks large-scale adoption of DF in this vertical. Currently we are working on a pattern for the industry that we'd love to use DF as the orchestration for but will likely end up not doing so due to lack of Java support.

[2020-02-22 04:29] kashimiz commented on #345
I've been able to reproduce this. Results as follows for a JavaScript client:

Server Language | Content Header? | Body Rec'd?
---------------------|--------------------|-------
Java | N | N
Java | Y | Y
C# | N | Y
C# | Y | Y
JavaScript | N | Y
JavaScript | Y | Y

[2020-02-23 11:38] maxstreifeneder commented on #152
any solution to this? same issue here with java 8.

[2020-03-01 18:08] mnriem commented on #120
For changes on the Java side, see PR https://github.com/Azure/azure-functions-java-worker/pull/347

[2020-03-01 18:15] mnriem opened #348 "Refactor DefaultClassLoaderProvider"
Please consider refactoring src/main/java/com/microsoft/azure/functions/worker/reflect/DefaultClassLoaderProvider.java as the getClassLoader method has a side effect as it calls setContextClassLoader on the thread.

This really should be done in a try/finally block where the class loader is being used.

Sequences of events should be.

1. Capture the original context class loader of the thread
2. I

[2020-03-01 18:20] mnriem commented on #152
If you are seeing this I would recommend using the same version as used by the runtime when it is deployed to Azure. Just our of curiosity what specific version / vendor are you using locally?

[2020-03-02 08:32] maxstreifeneder commented on #152
the generated file sets JDK Version 8, which I'm also using via JAVA_HOME:

java version "1.8.0_172"
Java(TM) SE Runtime Environment (build 1.8.0_172-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.172-b11, mixed mode)

@haonm-fpt (+4 additional folks hitting the thumbs up button) had stated the same problem. Would propose the reopen this issue. There's no combination of Java version which would

[2020-03-02 11:11] VikramNisarga opened #349 "message is null in service bus topic trigger"
#### Investigative information
Hi Team,
I'm not sure if this needs to be logged against azure-service-bus-java SDK or here. Basically, the issue is, if the message body is set using the method `com.microsoft.azure.servicebus.Message.setMessageBody(MessageBody body)`, the message body will be null when the message is delivered to the java function which uses service bus topic trigger. It is working

[2020-03-02 15:27] mnriem commented on #152
@maxstreifeneder I suggest you open a separate issue for the JDK 8 issue as it seems this one was closed months before @haonm-fpt commented

[2020-03-03 21:56] kulkarnisonia16 commented on #348
Thanks for your suggestion, will have a look.

[2020-03-03 23:48] kulkarnisonia16 opened #350 "Error using proxies.json (in latest core tools) :IllegalArgumentException: "" is not a qualified JAR file name"
[3/3/2020 8:59:13 PM] Worker failed to function id cb64c890-0460-4c8a-a505-5abe6eec827d.
[3/3/2020 8:59:13 PM] Result: Failure
[3/3/2020 8:59:13 PM] Exception: IllegalArgumentException: "" is not a qualified JAR file name
[3/3/2020 8:59:13 PM] Stack: java.lang.IllegalArgumentException: "" is not a qualified JAR file name
[3/3/2020 8:59:13 PM]   at com.microsoft.azure.functions.worker.description.F

[2020-03-09 15:54] pragnagopa opened #351 "Increase gRpc channel message size to int.MaxValue"
Related issue https://github.com/Azure/azure-functions-host/issues/5650

Need to set these values to int.MaxValue and ignore host settings.

[2020-03-11 18:42] pragnagopa commented on #351
Possible to get this into current host sprint 71?

[2020-03-17 20:14] #351 closed

[2020-03-17 20:28] mssfang opened #365 "Java 3rd Party dependency conflict between Azure Function and Azure SDK for Java"
# Technical Details

When using **Azure Function** and [**Azure SDK for Java**](https://github.com/Azure/azure-sdk-for-java) simultaneously. It causes a [**dependency conflict**](https://github.com/Azure/azure-sdk-for-java/issues/8392).
For example, using Azure Function with App Configuration SDK for Java as dependencies in an independent app,
**Expected behavior**: running the application success

[2020-03-18 18:47] pragnagopa opened #354 "Udpate grpc references to the latest"

[2020-03-24 22:36] johndowns opened #355 "Event Grid output binding does not work on Java"
In the process of updating the [documentation for the Event Grid output binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid) (see [this PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/103060)), I discovered that the output binding does not work correctly with Java functions. It does work correctly for .NET and Node.js. (Note I have opened a [separa

[2020-03-25 08:36] jdubois commented on #338
I'm now doing the same thing with our new [Gradle plugin](https://github.com/microsoft/azure-gradle-plugins) and I have the same issue again.

To fix this temporarily, I need to do the same trick, which is copying the `local.settings.json` file after the plugin has run, but this isn't a nice developer experience.

[2020-03-25 15:28] jabrena commented on #120
Any progress on it?

[2020-03-25 15:35] pragnagopa commented on #120
tagging -  @kulkarnisonia16 / @anirudhgarg / @amamounelsayed  for an ETA

[2020-04-02 23:41] kulkarnisonia16 opened #356 "Memory leak in the Java SDK for blob storage"
This is using the new v3 API for blob storage. Doing a "blobContainerClient.listBlobs().streamByPage()" is causing memory leaks when you have a huge number of blobs.

Here is the solution, that indeed works in production:
- use `streamByPage` and not `iterableByPage`, as it has a `close` method
- force clean the body of HTTP requests using the Reactor API, using `response.getRequest().setBody(Flux

[2020-04-02 23:42] kulkarnisonia16 opened #357 "JVM heap size cannot be configured in Azure Functions"
Customer needs to put a huge heap size (10 Gb) for an Azure Function for Java.
He's using a Premium P3V2.
He is trying to force the heap size using the standard "JAVA_OPTS" environment variable (he's setting it to "-Xmx10g -Xms10g".
But when he monitors his application (using Spring Boot micrometer), those parameters are not working - he stays with a "small" JVM (2 Gb) and gets out of memory error

[2020-04-06 18:24] kulkarnisonia16 commented on #338
![image](https://user-images.githubusercontent.com/10569526/78591784-d3f70f00-77f8-11ea-9412-55930a48424c.png)

[2020-04-15 11:22] flipmokid opened #359 "Query about the viability of creating an Azure Function using a dynamic JVM language"
I've been trying to setup an Azure Function using a dynamic JVM language (Clojure). With Clojure it is possible to put type hints on function arguments which are then present in the bytecode but it is not possible, as far as I understand, to add the type of a generic (i.e. I can define an argument to be a List but cannot define it to be a List\<String\>).

The documentation (https://github.com/Azu

[2020-04-24 23:25] amamounelsayed opened #362 "Create two workers for Java11 and Java8"
To take advantages of the new java11 new features.
- We need to create two pipelines to generate java for java11 and java8.
- We need to update Worker.config.json
example:
{
    "description": {
        "language": "java",
        "extensions": [".jar"],
        "defaultExecutablePath": "java",
        "defaultWorkerPath": "azure-functions-java-worker-%FUNCTIONS_WORKER_RUNTIME_VERSION%.jar",

[2020-04-27 19:33] pragnagopa commented on #319
cc @mathewc
@amamounelsayed / @anirudhgarg  - Is it possible to address this issue this sprint? this fix is critical to the perf improvement that @matthewc is working on and specifically he has chosen java worker for making out-of-proc improvements

[2020-04-27 19:44] MatthewC commented on #319
@pragnagopa you @ the wrong MatthewC.

[2020-04-28 17:42] anirudhgarg commented on #319
Thanks @pragnagopa for flagging this. @TsuyoshiUshio will be helping on this with @amamounelsayed's help.

[2020-04-28 23:51] amamounelsayed commented on #319
@pragnagopa @anirudhgarg I talked to @mathewc this fix we do our best to have it in this sprint or next one. Thank you so much!

[2020-04-29 06:59] TsuyoshiUshio commented on #319
Hi @yojagad ,
Let me understand the context for the RpcHttpTriggerMetadataRemoved. I read the code on this https://github.com/Azure/azure-functions-nodejs-worker/pull/238/files Inside of the PR, I found the code set the req and $request in triggerMetadata in case of undefined/null.  Why do we need it? I can implement it on Java, however, I want to understand the context.

[2020-04-29 16:36] TsuyoshiUshio commented on #319
@yojagad  Self Resolved. :) Never mind. I'll create a PR.

[2020-05-01 18:39] fabiocav commented on #365
Moved this to the java repository for proper triage.

@amamounelsayed can you please assist?

[2020-05-04 16:01] brandonh-msft commented on #213
<details>
<summary> Internal Tracking </summary>
CSEF 205501
</details>

[2020-05-05 22:21] amamounelsayed commented on #319
https://github.com/Azure/azure-functions-java-worker/pull/364

[2020-05-06 21:28] jspenc4 commented on #365
isolate the worker in its own classloader?  is that really the workaround?

[2020-05-06 22:26] amamounelsayed commented on #365
We are working on a proposal for this issue we will test it for java11. The objective is to have the client jar take presence over java worker jars.

To upgrade java worker to the latest version of grpc we have tracking item to it, there is no ETA yet, https://github.com/Azure/azure-functions-java-worker/issues/354

@mssfang the latest version is 1.29.0, correct? I see also there is version grpc-n

[2020-05-06 22:31] amamounelsayed commented on #365
cc @anirudhgarg

[2020-05-06 22:33] mrm9084 commented on #365
Can we make sure it also works in Java 8? This was originally seen with Java 8 Functions.

[2020-05-06 22:39] amamounelsayed commented on #365
@mrm9084 yes this is the plan but this the log term plan.

I believe the first step will be upgrade grpc to 1.29.0 if this work with SDK Java instead of 1.28.0.
Second we will explore the shaded version so by this way there is no netty conflits.
Third work on the classloader proposal and test with java11.
Fourth add it to java8.

Thank you so much

[2020-05-06 22:59] amamounelsayed commented on #283
We are now supporting java8 images for linux,
mcr.microsoft.com/azure-functions/java:3.0-java8
mcr.microsoft.com/azure-functions/java:3.0-java8-appservice

https://github.com/Azure/azure-functions-docker

[2020-05-06 22:59] #283 closed

[2020-05-07 14:35] JarroVGIT commented on #365
Hi @amamounelsayed , thanks for the update. I don't want to push anything but this is currently a major problem in our situation as we cannot interact with any other Azure services (authenticated) in Azure Functions. My question would be; when can we expect this to be released (roughly)? This issue is here since February (looking at [this](https://github.com/Azure/azure-sdk-for-java/issues/8392) i

[2020-05-07 14:49] mssfang commented on #365
@amamounelsayed Yes. They released a new version. So the latest is [1.29.0](https://mvnrepository.com/artifact/io.grpc/grpc-netty)

[2020-05-07 16:55] jspenc4 commented on #365
Just wanted to let you know, turns out my problem is actually a conflict
between the netty version required by aws sdk and azure sdk.

So i was able to solve that by excluding the aws sdk netty dependencies.

Jim

On Wed, May 6, 2020 at 3:39 PM amamounelsayed <notifications@github.com>
wrote:

[2020-05-08 18:59] amamounelsayed commented on #365
@JarroVGIT Thank you for your feed back, we will get back to you with ETA as soon as we can.

[2020-05-11 00:52] liuhegui commented on #365
When I tried to use WebClient to get oauth token, I got same issue.

[2020-05-11 15:41] liuhegui opened #368 "WebClient of Spring Boot (3rd dependency) conflicts between Azure Function and Azure SDK for Java"
**Describe the bug**
When calling webClient in an azure function runtime locally,  the log will print an error.

#### Investigative information
**Exception or Stack Trace**
`[05/11/2020 15:24:58] System.Private.CoreLib: Exception while executing function: Functions.RunMyHttpTrigger. System.Private.CoreLib: Result: Failure
[05/11/2020 15:24:58] Exception: NoSuchMethodError: io.netty.handler.ssl.Ssl

[2020-05-12 15:55] jabrena opened #369 "Add support for GraalVM native function"
Hi,

I would like to know if exist any plan to add support for Graal VM Native image.

![](https://docs.oracle.com/en/graalvm/enterprise/19/guide/reference/overview_native-image-gen-image.png)

Many thanks in advance

Juan Antonio

[2020-05-12 15:55] pragnagopa commented on #369
cc @anirudhgarg @amamounelsayed for triage.

[2020-05-12 15:58] anirudhgarg commented on #369
@jabrena - we dont have any plans to do this at present. Will have to investigate.

[2020-05-12 17:20] jabrena commented on #369
If you compare other alternatives like AWS, Amazon Lambdas support Native code. It could be pretty interesting that investigation to add support for Native code to run on `Azure Functions`

Many thanks in advance

Juan Antonio

[2020-05-12 21:54] amamounelsayed commented on #354
https://github.com/grpc/grpc-java FYI

[2020-05-13 05:17] TsuyoshiUshio commented on #319
@pragnagopa @amamounelsayed Can we close this issue? or keep until the functions host is released?

[2020-05-13 16:58] amamounelsayed commented on #319
@TsuyoshiUshio, The reason is not closed it is not released yet.
@anirudhgarg point to not create confusion, so we close it after release.

[2020-05-19 23:22] amamounelsayed commented on #348
Got fixed by, https://github.com/Azure/azure-functions-java-worker/pull/361
Always thank you @mnriem

[2020-05-19 23:22] #348 closed

[2020-05-19 23:30] amamounelsayed commented on #304
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-gradle

[2020-05-19 23:30] #304 closed

[2020-05-19 23:39] amamounelsayed commented on #208
This is now supported as a preview, https://github.com/Azure/azure-functions-java-worker/wiki/Distributed-Tracing-for-Java-Azure-Functions

[2020-05-19 23:39] #208 closed

[2020-05-20 23:57] joshfree commented on #365
@alzimmermsft can you share more details on the Azure SDK for Java Parent BOM file that Azure Functions Java Worker should take a dependency on to unify on standard 3rd party dependencies?

[2020-05-21 00:19] TsuyoshiUshio commented on #365
Hi @mssfang We are working on this issue. Probably we are going to shaded package of the netty.
I'd like to provide a workaround to the customer until it is released. Which azure-core-http-netty has the same version as the current Azure Functions Java Worker?

[2020-05-21 05:19] mssfang commented on #365
@TsuyoshiUshio I don't think we have a version of azure-core-http-netty is using GRPC-netty 1.20.0. But @alzimmermsft can confirm that.

[2020-05-21 16:28] alzimmermsft commented on #365
`azure-core-http-netty` utilizes the Netty libraries directly, here is a quick version matching output.

| `azure-core-http-netty` version | `grpc-netty` version` | Share Netty version |
| ---------------------------------- | ---------------------- | ---------------------- |
| 1.5.0                                           | 1.28.0 or 1.28.1         | 4.1.45                       |
| 1.0.0 - 1.3.

[2020-05-21 16:57] amamounelsayed commented on #365
One of the proposed solution we are exploring is to use grpc-netty-shaded
Here is the dependency tree if azure functions worker uses netty shaded.
I belive this can solve the netty issue dependency and shouldn't be conflicts in future.
@alzimmermsft @mssfang Do you agree? Also is there any other jars conflicts example do you use grpc-netty-shaded, commons-lang3.jar or any other dependency?

[INFO]

[2020-05-21 17:31] alzimmermsft commented on #365
@amamounelsayed the Azure SDKs under the `com.azure` group don't share any first level dependencies listed in that tree. This pages gives a quick overview on the primary dependencies we are allowed to use, https://azure.github.io/azure-sdk/java_implementation.html#java-dependencies-approved-list.

The common dependencies that we will used are the following:

- Reactor
- Reactor Netty
- Netty
- OkH

[2020-05-21 19:26] anuchandy opened #373 "Epoll based Netty Transport error in Function Development Tool on Linux"
Function Development Tool on Linux (I guess this is true for production Linux Function as well) fails when using "Epoll based Netty Transport" in the application. The issue can be reproduced by creating a function app with netty modules as it dependency along with "netty-Epoll-for-Linux".

### Steps to reproduce:

Create an Azure Ubuntu 18.04 Linux VM.
#### SSH and set up

##### Set Package feed:

[2020-05-21 20:17] anuchandy commented on #373
Linking similar issue in function library: https://github.com/Azure/azure-functions-java-library/issues/110

[2020-05-22 14:24] evenh commented on #120
Java 8 is EOL and has been for some time. I hope Microsoft soon will realize that it’s pretty embarrassing to not have have support for the current LTS version that has been around since September 2018.

[2020-05-22 14:28] anirudhgarg commented on #120
I can confirm that we have started working on Java 11 support and we are hoping for a preview in the next few months.

[2020-05-27 00:20] amamounelsayed commented on #373
https://github.com/Azure/azure-functions-java-worker/issues/365

Thank you @anuchandy We are working on removing the conflicts between java worker dependencies and user code. Specially with netty.

[2020-05-27 18:39] amamounelsayed commented on #373
@anuchandy Just curious why did you need to build your image? you can use https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-java

Do you mind give your feedback? FYI with the current code we are working on fixing the netty issue, but this scenario should work with others.

[2020-05-27 19:06] swayamraina commented on #329
@kulkarnisonia16 I guess we only need to introduce an additional field in the `HttpRequestMessageImpl` to hold path variables and add accessor methods.

Is my understanding correct and is this sufficient to close this issue?

[2020-05-27 19:33] anuchandy commented on #373
@amamounelsayed thank you for following up, I used a raw Linux VM because the customer setup was Linux, it was not explicit in the customer's original issue that it's a Linux container. Thanks for sharing the instruction link. I will request the customer to follow this thread.

Yes, you are right code is broken, because once EPoll is excluded, we'll run into another conflicting issue. but I felt t

[2020-05-27 19:44] anuchandy commented on #365
@amamounelsayed shading Grpc + it's dependencies linked to the function java worker seems a good option. I guess if we choose this path then you'll also need to "relocate" those conflicting dependencies (e.g. netty). If it helps, this comment has a downloadable sample showing how to do the relocation of dependencies - https://github.com/Azure/azure-sdk-for-java/issues/11104#issuecomment-628878098

[2020-05-29 01:29] amamounelsayed opened #375 "Azure function shade netty dependencies"
Release 1.7.0

This release will shad grpc-netty-shad.

The java worker dependencies will be:
[INFO] Including com.microsoft.azure.functions:azure-functions-java-library:jar:1.3.1 in the shaded jar.
[INFO] Including com.google.protobuf:protobuf-java:jar:3.7.1 in the shaded jar.
[INFO] Including io.grpc:grpc-protobuf:jar:1.20.0 in the shaded jar.
[INFO] Including io.grpc:grpc-core:jar:1.20.0 in the

[2020-05-29 04:40] amamounelsayed commented on #340
@Tetradeus  We are working on shading the netty jar in the next release. We will be working on the next libraries next.

[2020-06-09 15:53] zmmille2 commented on #324
Any updates on this issue?

[2020-06-09 16:22] amamounelsayed commented on #324
Thank you so much @zmmille2 for your comment. Can you please share couple of use cases that you will use dependency injection for?

[2020-06-09 16:34] zmmille2 commented on #324
C# Azure Functions supports DI already.  There are a ton of examples of use cases for DI.

- https://gunnarpeipman.com/azure-functions-dependency-injection/
- https://medium.com/@therealjordanlee/dependency-injection-in-azure-functions-v3-7148d0574dfc
- https://medium.com/hitachisolutions-braintrust/azure-functions-v2-dependency-injection-using-net-core-fccd93b80c0
- https://stackoverflow.com/ques

[2020-06-09 16:58] amamounelsayed commented on #324
Yes sir, it is in our road map no ETA yet. We will keep this thread update it.

[2020-06-11 06:40] crgarcia12 commented on #291
Are there any news on this?

[2020-06-13 21:02] Kondamon commented on #244
@pragnagopa @amamounelsayed

Is it possible to receive async responses with azure functions? Because I don't receive any errors when the mail can not be sent which I receive on my local environment (e.g. 500 - Internal Server error, when password is wrong).

Source from: https://quarkus.io/guides/mailer#sending-simple-emails
[code]

[2020-06-17 22:02] amamounelsayed commented on #375
Rolled back this release for different approach.

[2020-06-17 22:02] #375 closed

[2020-06-18 21:02] Sarah-Aly opened #380 "Fails To Parse eventTime (Event Grid event)"
Event Grid triggered Function fails to deserialize the `eventTime` field coming in this format `"eventTime": "2017-06-26T18:41:00.9584103Z"`. As a workaround I had to use a custom deserializer but this workaround won't work with a POJO.

#### Repro steps

**Code:**
[code]

#### Expected behavior

to be able to parse the event sent.

#### Actual behavior

Fails to parse with error:
`2020-06-18T08:5

[2020-06-24 00:38] #183 closed

[2020-06-24 00:38] #340 closed

[2020-06-24 00:38] #368 closed

[2020-06-24 00:38] #373 closed

[2020-06-24 00:38] #341 closed

[2020-06-24 00:38] #365 closed

[2020-06-24 17:08] amamounelsayed commented on #373
@anuchandy sorry for my delay, there is no recommended way for testing and debugging. But I prefer that testing at least will be on the container as this will be 1-1 with the production.

[2020-07-02 02:44] amamounelsayed opened #381 "Azure Functions Java Worker 1.7.1 -- Dependencies change opt in"
This release is for shading all worker jars. This will give the option to clients to override the current behavior for how java worker jars are load it.

Background, before this release azure functions worker dependence takes precedence over the customer code dependencies in case they use the same ones. The current work is to give a way to customer dependencies to takes higher precedence by loadin

[2020-07-04 10:16] dsmclaughlin commented on #213
I would also like to see Java support for durable functions

[2020-07-04 15:34] tonto7973 opened #382 "Application Insights Telemetry custom properties"
Hi,
I am wondering if there is currently any support for custom AI telemetry properties. I could not find any documentation describing this.

A log statement like this:

[code]
Shows under traces in Application Insights:
[code]
with `customDimensions` that read something like this:
[code]

Is there a way to add any additional information to `customDimensions` from Java Azure Function?

Sample case

[2020-07-06 09:49] makataria opened #383 "Java Azure Function with Cosmos failure, SSLHandshake while publishing to Cloud"
Description of the issue:

Java azure function doesn't seem to work, binding fails with cosmos. Also the deploy goal fails with SSLhandshake exception while publishing to Azure cloud

- Timestamp: 2020-07-06T09:40:25Z
- Invocation ID:  2ffc34fd-55da-4509-b79c-31dd9cf3e6e6
- Region: EASTUS

I tried to create a very simple java based azure function with cosmos db binding, i get an error while runnin

[2020-07-06 14:00] sharma-dilip opened #384 "Azure Function Issue with application insights"
#### Investigative information

Please provide the following:

- Timestamp: 14:56 06th July 2020
- Function App name: my-demo-functions
- Function name(s) (as appropriate):
- Invocation ID:
- Region: UK South

Provide the steps required to reproduce the problem:

1. mvn clean package  -It runs successfully with no issues
2. mvn azure-functions:run - it runs successfully and able to execute the fun

[2020-07-06 22:02] sharma-dilip commented on #384
Solved it using IntelliJ Idea tool , earlier i was using eclipse. It seems there are some problems using eclipse, but root cause still not found.

[2020-07-06 22:02] #384 closed

[2020-07-08 10:00] kailashravuri commented on #213
It would be good at-least to start with at least function chaining or FanIn/Out

[2020-07-10 19:50] srnagar commented on #380
If custom Gson instance cannot be created, then the alternate approach is to use the @JsonAdapter annotation on the datetime field as shown below. Let me know if this helps.

[code]
Console Output:
[code]

[2020-07-14 10:25] tonto7973 opened #385 "Distributed Tracing enabled - logs are duplicated"
When [Distributed Tracing](https://github.com/Azure/azure-functions-java-worker/wiki/Distributed-Tracing-for-Java-Azure-Functions) is enabled, some logs (warnings and errors) are duplicated in Application Insights.

#### Investigative information

- Timestamp: 14th July 2020 9:51 UTC
- Invocation ID: 1d98377b-bd28-44be-870d-d1705c6e2b5a
- Function Region: East US
- App Insights Region: UK South

#

[2020-07-22 01:34] amamounelsayed commented on #120
https://azure.microsoft.com/en-us/updates/java-11-for-azure-functions-is-now-available-in-preview/

[2020-07-22 08:00] EwanNoble commented on #120
The docs are showing the preview version of Java 11 supporting V3 Functions only, are you able to confirm whether it will be coming to V2 as well?

[2020-07-22 13:45] mnriem commented on #120
Great work!

[2020-07-22 18:19] amamounelsayed commented on #120
@EwanNoble Thank you so much for your message. There is no plan currently to support V2.

[2020-07-22 18:21] pragnagopa commented on #120
@EwanNoble  - Please https://github.com/Azure/app-service-announcements/issues/266 . We encourage upgrading to V3 as soon as you can. Thanks.

[2020-07-22 18:22] pragnagopa commented on #120
Closing as the feature is now preview.

[2020-07-22 18:22] #120 closed

[2020-07-22 18:22] amamounelsayed commented on #385
Thank you so much for your message,
Expected behavior
Logs are not duplicated -> correct as a work around please can you use java.util logs instead of context.getLogger
Logs are formatted correctly - what is the format that you are expecting?
Invocation id is present in logs - Why do you need the invocation Id?

Thank you so much.

cc @trask

[2020-07-22 18:23] amamounelsayed commented on #382
cc @trask

[2020-07-22 18:24] amamounelsayed commented on #350
This issue for recent changes in host. It is just errors in the logs but the functionality is still working.

[2020-07-22 18:43] pragnagopa opened #388 "Upgrade to Functions V3"
Please see: https://github.com/Azure/app-service-announcements/issues/266

[2020-07-23 09:57] tonto7973 commented on #385
Hi @amamounelsayed ,

_Note - AAI acronym below stands for Azure Application Insights._

Yes, I can, but doing this I loose additional information from customDimensions (HostInstanceId, InvocationId, ProcessId) which I need for diagnostics and troubleshooting. I can potentially add InstanceId by registering a custom root logging handler, but I cannot capture the other custom dimensions.

When call

[2020-07-23 23:34] amamounelsayed commented on #385
Thank you so much @tonto7973 and your explanation for duplication is correct. We are working on aligning these two experiences. Thank you for sharing the info.

[2020-07-29 23:36] amamounelsayed opened #392 "Use WORKER_DIRECTORY from WorkerInitRequest"
https://github.com/Azure/azure-functions-host/issues/6427

[2020-07-30 20:34] amamounelsayed opened #393 "Load worker jars regardless of the user have lib folder or not in their function"
There is one edge case that we do not load the java worker jars in case there is no lib folder in the java functions.

Impact
- if the user has dependencies
- And depend on the java worker only for any of the jars they need.
- And they did not have any lib jars folder in their functions.

This will fail loading their jars as we shaded the worker now and in this case we did not load the worker jars

[2020-07-30 20:35] amamounelsayed commented on #393
cc @yojagad - current release owner, @fabiocav @anirudhgarg

[2020-07-30 20:36] amamounelsayed commented on #393
@fabiocav  I am creating hotfix for this one.

[2020-07-31 01:53] #393 closed

[2020-07-31 15:41] pragnagopa commented on #392
See PR: https://github.com/Azure/azure-functions-language-worker-protobuf/pull/48

[2020-08-04 16:56] anthonychu commented on #350
I just ran into this as well.

Possibly related: https://github.com/Azure/azure-functions-host/issues/4809

@apawast @amamounelsayed @anirudhgarg Can confirm that the app still works, but would be great if we can fix. Thanks.

[2020-08-04 17:11] amamounelsayed commented on #350
@anthonychu this Azure/azure-functions-host#4809 is not related. The function should still work.
We may need to work with the host to not raise exception in this case as it can be confusing to customers.

Is your function not working?

[2020-08-04 17:32] anthonychu commented on #350
Yes it's functional (same as the Node.js issue). But could be alarming for folks to see this.

[2020-08-05 01:06] amamounelsayed commented on #392
https://github.com/Azure/azure-functions-language-worker-protobuf/pull/48#event-3622554315
https://github.com/Azure/azure-functions-host/pull/6441#pullrequestreview-461082446

[2020-08-06 22:44] ellismg commented on #380
Adding a bit more context here from offline discussion with @Sarah-Aly.  This is really a problem when you try to write a function trigger that looks like this:

[code]

The problem is that in this case the GSON deserialization happens inside the the functions worker itself (so it can bind to the POJO `EventGridEvent` type, (you can see the source for this type [here](https://github.com/Azure/azur

[2020-08-11 04:18] ericis commented on #213
I would love to see more support for Java

[2020-08-14 16:24] TurtleBeach opened #396 "Java Function Host failing with Class Cast Exception"
#### Check for a solution in the Azure portal
For issues in production, please check for a solution to common issues in the Azure portal before opening a bug. In the Azure portal, navigate to your function app => `Platform features` => `Diagnose and solve problems` and the relevant dashboards before opening your issue.

#### Investigative information

Java Function App started failing for a functi

[2020-08-14 23:52] amamounelsayed commented on #396
@TurtleBeach We are sorry for any inconvenience. We are investigating the app to check what may caused this issue.

[2020-08-15 01:05] amamounelsayed commented on #396
@TurtleBeach Can you please share sample of the code that created the issue?

[2020-08-15 13:01] TurtleBeach commented on #396
The JSON payload signature is … `HttpRequestMessage<HashMap<String, Object>> request,` … .

The payload comprises two or more inner HashMap<String, Object> components (e.g., but obviously not the exact content):
`{
   "User":{
                "A":"string",
                "B": true
               },
    "key2":{
                  "C": 42,
                  "D": false
               }
}`
The "outer

[2020-08-15 21:33] amamounelsayed commented on #396
@TurtleBeach Thank you so much for your detailed explanation for the issue. It is in our top priority to handle this case and will keep the thread updated.
Regarding the VScode and the tooling question we will follow up with your questions and get back to you.

Thank you so much for your time

[2020-08-18 00:11] amamounelsayed commented on #396
@TurtleBeach we continue to investigate the issue.

We implemented the same code you shared with the interface Map and it worked instead of using LinkedTreeMap https://github.com/google/gson/blob/master/gson/src/main/java/com/google/gson/internal/LinkedTreeMap.java.

Here is the test case,
HashMap<String, Object> orderJSON = request.getBody();
Map<String, Object> userInfo = (Map<String, Object>) o

[2020-08-18 17:32] jongio commented on #381
@anirudhgarg @TsuyoshiUshio - Could you please provide an update on this?  Would be great to get it addressed as we have stale related issues that are dependent on this fix.  Thanks, Jon

[2020-08-18 18:10] amamounelsayed commented on #381
@jongio Thank you so much, We updated the status of the deployment. Please let us know if you have any questions.

[2020-08-18 18:28] amamounelsayed commented on #381
**Releases contain the enhancement,**
v3 3.0.14251 or higher
v2 2.0.14248 or higher.

**Windows** deployment done.
**Linux consumption** deployment done.
**Linux dedicated/premium**, still deploying.

[2020-08-19 01:40] TurtleBeach commented on #396
@amamounelsayed Thank you for your response. Yes, using a Map interface will work, and I will update my code to use it. But that still begs the question of why (going back to 2018) it was necessary to change to a library that used and exposed a non-standard class. I try to avoid as much as possible (a) anything Google (difficult, yes) and (b) anything not inherent in Java (acknowledging that Map i

[2020-08-19 04:31] jongio commented on #381
@g2vinay - Please have a look at previous comment and see if we can resolve ours with the current deployment.

[2020-08-19 17:33] amamounelsayed commented on #381
Releases contain the enhancement,
v3 3.0.14251 or higher
v2 2.0.14248 or higher.

Windows deployment done.
Linux consumption deployment done.
Linux dedicated/premium, deployment done.

[2020-08-20 01:38] amamounelsayed commented on #396
@TurtleBeach Thank you so much for your feedback, the team is always working on enhancing the product.

Answering your questions related to VScode, VS code by default uses the core tools package installed via NPM. We will discuss with the team your feedback about can we update coretools first before runtime.  https://github.com/Azure/azure-functions-core-tools/issues/2162

For core tools versions,

[2020-08-24 22:16] wjohnson opened #397 "Cosmos, Key Vault, and Function Packages Causing io.netty error"
When using the Azure Java function template produced by VS Code and after adding Cosmos DB and Azure Key Vault Java SDKs to the pom.xml, the

#### Investigative information

Please provide the following:

Debugging locally on Windows 10

- Timestamp: N/A
- Function App name: N/A
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: N/A

#### Repro steps

Provide the steps require

[2020-08-25 17:57] amamounelsayed commented on #397
Thank you so much @wjohnson the reason I believe the issue cause is that we did not release yet with the coretools.
It is already release for runtime.

We are keeping the https://github.com/Azure/azure-functions-java-worker/issues/381 update it with this info

[2020-08-26 04:27] wjohnson commented on #397
Got it! Thank you for the clarification @amamounelsayed !

We found a workaround for our particular use case in using Azure Key Vault references rather than the Azure Key Vault SDK.  After removing the Key Vault SDK, I was able to get the Cosmos SDK portions to work without the current issue.

[2020-08-26 17:13] amamounelsayed commented on #397
Sounds good thank you so much @wjohnson . We should have the core tools deploy sometime soon. I will keep the thread update it.

[2020-08-27 06:12] TsuyoshiUshio commented on #385
Hi @tonto7973
I tried to reproduce this issue, however, I couldn't.  Could you help me to reproduce it?

Could you share these info with us?
1.  Plan (Consumption, AppService, Premium?)
2.  OS (Probably windows)
3.  Runtime version

Do you still have the same issue now?

[2020-08-27 18:00] amamounelsayed commented on #381
This fix is not released yet by core tools, it will be released in the next one.
If user face this issue locally this may be the reason. We will update the issue once coretools get released.

Linux and windows all skus runtime in Azure cloud has been released.

[2020-08-28 16:42] kashyap-bhatt-by commented on #381
How can I follow delivery of this fix? Is there some way I can watch some issue/repo/something so I get an email when this is released?

[2020-08-28 17:44] amamounelsayed commented on #381
Thank you so much @kashyap-bhatt-by for your message, you can keep track of the coretools releases at https://github.com/Azure/azure-functions-core-tools/releases

[2020-08-28 21:42] amamounelsayed commented on #385
@tonto7973 can you please also share your host.json file?

[2020-09-02 18:26] amamounelsayed commented on #381
Core tools have been release
v3 3.0.2852 or higher
v2  2.7.2855 or higher

https://github.com/Azure/azure-functions-core-tools/releases

[2020-09-02 18:27] #381 closed

[2020-09-02 18:28] amamounelsayed commented on #397
@wjohnson thank you so much for your time.

Core tools have been release
v3 3.0.2852 or higher
v2 2.7.2855 or higher

https://github.com/Azure/azure-functions-core-tools/releases

[2020-09-02 18:28] #397 closed

[2020-09-02 18:32] amamounelsayed commented on #396
@TurtleBeach I am happy to hare that we released the core tools. Thank you so much!

Core tools have been release
v3 3.0.2852 or higher
v2 2.7.2855 or higher

https://github.com/Azure/azure-functions-core-tools/releases

[2020-09-02 23:47] pacon-vib opened #398 "Fatal error "No fonts found" when calling `GraphicsEnvironment.getAvailableFontFamilyNames()` (Java AWT)"
I'm running a Java Function App that calls the JasperReports library. When I "fill" a report (i.e. put together the template and data to produce a PDF report) the function throws an exception and dies. This is code that normally runs on an Ubuntu virtual machine.

For the purposes of this bug report I isolated the specific call to Java AWT that fails.

#### Investigative information

- Timestamp:

[2020-09-11 20:40] TsuyoshiUshio opened #400 "Gson annotation is ignored"
## Repro steps

Provide the steps required to reproduce the problem:

1. Create this Azure Functions

_UserTestObject.java_

[code]

_Function.java_

[code]
2. Run with the Azure Functions Java Worker with [1.7.1+](https://github.com/Azure/azure-functions-java-worker/releases/tag/1.7.1) release that has shading for all libraries.

3. Send a http request.

However, after a recent Runtime update, it

[2020-09-12 01:08] TsuyoshiUshio commented on #398
Hello @pacon-vib ,
Thank you for the report!  Under the hood, we run the code as docker container for Linux.  If you are using Linux based Azure Functions, how about using [Custom Container](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-java)? Then you can install your font that you need. e.g. http

[2020-09-18 01:35] Andycharalambous commented on #335
@svangeti did you resolve this eventually? I've just started working with azure functions in java and have hit the exact same problem.

[2020-09-22 22:36] TsuyoshiUshio commented on #385
Thank you @tonto7973 I can repro it.
I was dazed and confused by  AppMap and Search, the duplication is removed but not for Monitoring > Log.
We are discussing how to fix this issue. Probably, we are provide fix for it. Thank you for your report!

## AppMap and Search
![MicrosoftTeams-image](https://user-images.githubusercontent.com/1390976/93944250-26fe4900-fce9-11ea-9577-a2cf70d15950.png)

## Mo

[2020-09-25 00:12] amamounelsayed opened #403 "Binding ExpiresAtUtc to servicebus throws exception"
Code have: @BindingName("ExpiresAtUtc") Date expireTime
The service bus created as standard or premium. The default Time to live is TimeSpan.MaxValue.

This causes an issue with Java worker parsine.

Exception: IllegalArgumentException: No time zone indicator
Stack: com.microsoft.azure.functions.shaded.com.google.gson.JsonSyntaxException: 9999-12-31T23:59:59.9999999
at com.microsoft.azure.function

[2020-09-25 00:12] #403 closed

[2020-10-01 07:34] jdubois commented on #369
This is just using a custom handler (so it can be improved), but I have here a fully working example of using GraalVM with Spring on Azure Functions: https://github.com/jdubois/azure-native-spring-function

[2020-10-01 17:07] #396 closed

[2020-10-05 17:28] alzimmermsft commented on #356
This looks similar to an issue reporting in `azure-sdk-for-java` which is actively being looked at and has a possible fix. https://github.com/Azure/azure-sdk-for-java/issues/12453

[2020-10-14 13:12] DamonStamper commented on #349
Possibly related to https://github.com/Azure/azure-sdk-for-net/issues/6912?

[2020-10-19 11:03] pacon-vib commented on #213
We have a client with a legacy Java application running on pet VMs which exists solely to give access to a particular third-party JVM-based library. We are moving this into a Function App for reasons of management, scaling and cost. The legacy solution includes a lot of Java code to listen to a Service Bus queue and orchestrate threads, which the client has had to maintain and which we are now tea

[2020-10-19 20:39] amamounelsayed commented on #398
@pacon-vib hey do you have any update for @TsuyoshiUshio suggestion?

[2020-10-19 20:56] amamounelsayed commented on #349
@joshfree Is this should we move this issue to azure sdk?

[2020-10-19 22:39] joshfree commented on #349
Yes, this Service Bus Java SDK ("Track 1") issue can be moved to https://github.com/azure/azure-sdk-for-java/

/cc @hemanttanwar

[2020-10-23 17:15] amamounelsayed commented on #356
Thank you @alzimmermsft

[2020-10-23 17:15] #356 closed

[2020-10-30 04:37] gmvg commented on #324
Hi, I just wanted to bring the topic of DI for the Azure function. Are there any updates on ETA?

[2020-10-30 16:40] amamounelsayed commented on #324
Thank you so much @gmvg, we have partner team will work on initial work for this feature next week. Hope we will be in a state that we can have the community build on it soon.

[2020-11-01 14:23] krishnendu1990 commented on #213
This is very helpfull feature for java domain. We want this to be added

[2020-11-04 14:21] musa-pro opened #407 "ServiceBusQueueTrigger MessageReceiver Binding throws error"
#### Actual behavior

I was trying to get metadata MessageReceiver for a ServiceBusQueueTrigger function using binding annotation, but this throws error. I noticed MessageSession, DeadletterSource throws error too whereas other  binding works well. I was following this document
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=java

Is this expected

[2020-11-10 19:14] drealeed commented on #213
Hoping this is added soon--I could use it for java.

[2020-11-11 13:16] YusukeTobo opened #408 "Cannot retrieve JFR results of Java Worker in Linux."
#### Investigative information

- Container Repository: mcr.microsoft.com/azure-functions/java:3.0-java11-appservice-stage6
- Region: Japan East
- Java Version:  8 and 11

#### Repro steps

1. make webssh to the container which hosts the java worker via Kudu.
2. find the worker PID using the following command.
[code]
3.  run jcmd to invoke Java Flight Recorder.
[code]

#### Expected behavior

/hom

[2020-11-12 02:41] TsuyoshiUshio commented on #408
We can reproduce the issue, and also the workarounds works. It might take some time to investigate more. Until then, could you keep the workaround?

[2020-11-12 04:25] YusukeTobo commented on #408
Thank you for trying to reproduce it out. Until you'll fix this issue, we'd keep the workaround.

[2020-11-13 20:34] amamounelsayed commented on #407
@musa-pro thank you or reporting the issue, please can you share the error you are facing. Also are you referencing the MessageReciever from  https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.core.messagereceiver?view=azure-dotnet

[2020-11-17 01:43] vrdmr opened #410 "[FeatureRequest] Enable Debug Logging for Functions"
Related: https://github.com/Azure/azure-functions-host/issues/6879

**Describe the request: A clear and concise description.**
Make sure we are doing the following things to enable logging:

- Allow functions to have `logging.debug` (or equivalent in the language) to be logged and sent to the customer.
- The plan currently is for the host to send the logging levels used for each function and defau

[2020-11-25 09:03] JeryLu2020 commented on #357
Same ask here

[2020-12-04 00:52] YusukeTobo opened #412 "Java11: Static variable appears to be difference instance even though it's in the same class."
#### Investigative information

#### Repro steps

Provide the steps required to reproduce the problem:

1. Create Function.java below.
[code]
[code]

2. access Foo & Bar endpoints.

#### Expected behavior

Foo & Bar methods show the same output because they share the same class variable.

#### Actual behavior

Foo & Bar methods show the different output like below.
![image](https://user-images.git

[2020-12-04 01:44] TsuyoshiUshio commented on #412
I can't reproduce it. Which version do you use for Java, and func command?

[code]

Also, which structure, In my code,  my structure is like this.  I'll share the process I did. Did you find any difference between yours and mine?

![image](https://user-images.githubusercontent.com/1390976/101110708-6d481200-358e-11eb-83c7-b17f55d1c7af.png)

I just create a function with mvn command.
then

_Functio

[2020-12-04 02:15] TsuyoshiUshio commented on #412
I found that it is reproduced on Java 11 but not for Java 8.

_Function.java_

[code]

_Person.java_

[code]

![image](https://user-images.githubusercontent.com/1390976/101113046-666fce00-3593-11eb-9a74-209d2a66a6d6.png)

![image](https://user-images.githubusercontent.com/1390976/101112995-53f59480-3593-11eb-98ae-86c9c691e360.png)

[2020-12-04 02:54] YusukeTobo commented on #412
Thank you for your help. As you found, I ran my function in local Java11. When I tried it in local Java8, I also didn't reproduced this issue(please see the following screenshot).
![jdk8](https://user-images.githubusercontent.com/46416479/101115798-4b4e9e00-3627-11eb-88b7-c4e13f082327.png)

[2020-12-04 04:10] YusukeTobo commented on #412
Allow me follow-up. It's reproduced in Azure on Java11 stack.
![jdk11 azure](https://user-images.githubusercontent.com/46416479/101120741-bc934e80-3631-11eb-86fb-739f19887931.png)

As you may know, Java8, Java11 utilize the different class loader.
https://github.com/Azure/azure-functions-java-worker/blob/dev/src/main/java/com/microsoft/azure/functions/worker/reflect/FactoryClassLoader.java

I woul

[2020-12-04 18:07] amamounelsayed commented on #412
Thank you so much @YusukeTobo and @TsuyoshiUshio
So the issue is with Java 11 the static variables are not shared among all functions in the same class, it is just shared between all instances for the function.

[2020-12-04 18:41] amamounelsayed commented on #400
The fix had been rolled out for both linux and windows.
Fix run time host version 3.0.14916 or higher.

[2020-12-04 18:41] #400 closed

[2020-12-06 00:49] dante-ricalde commented on #369
nice example! Thanks and Regards.

[2020-12-16 11:13] pacon-vib commented on #213
We are experimenting with what what we're calling a Franken App, where we run the JVM inside a .NET Function App. That gives us a managed orchestrator based on .NET support for Durable Functions, but we can still run the third-party Java library that we need.

At the moment it's a custom image which starts with `mcr.microsoft.com/azure-functions/dotnet:3.0` and installs OpenJDK in it. An activity

[2020-12-16 17:26] brunoborges commented on #213
@pacon-vib could you provide more details?

1. What Java libraries are you using?
2. Have you thought using `jlink` to shrink the size of the JVM runtime?
3. How are you triggering the Java code from within the .NET code?

[2020-12-17 05:21] pacon-vib commented on #213
Hey @brunoborges
1. The Java library is JasperReports.
2. I'm not familiar with `jlink` but I just looked it up and that might be something cool for us to look into.
3. We shell out to something like `java -jar /path/to/jar <arguments go here>`, and the main class in the JAR interprets those command-line arguments to call the right methods.

[2020-12-17 18:16] brunoborges commented on #213
That's an interesting use case. What's the reason for using a Durable Function to trigger a report generation
?

[2020-12-17 22:04] pacon-vib commented on #213
@brunoborges There's a web app where the user asks the system to generate hundreds of reports at once, and then waits until they are all done. It can take an hour if you only run say four at once. We would like to run those in parallel and then notify the web app when all the work is done. Each report might take between a few seconds and a few minutes to run, so we need something robust and patien

[2020-12-17 22:20] brunoborges commented on #213
Was there a reason to not use a messaging system?

[2020-12-17 22:27] pacon-vib commented on #213
Could you elaborate on the messaging system? If I understand correctly we can use Service Bus to fan the work out, but if a task takes longer than the maximum timeout on a Service Bus message then we have no way of noticing or recovering from a task failing. Also we would need to write our own code to notice that all the work was finished and send the collated output back to the web app.

[2020-12-22 11:44] yuranos commented on #189
Hey? Any update?

[2021-01-12 16:08] patriot1burke commented on #44
FYI:  This bug is still an issue.

[2021-01-12 16:10] patriot1burke commented on #44
The original poster probably just gave up.  In my case, I want all data, even texted based data like json to be able to be sent as a byte[] array.

[2021-01-12 16:11] patriot1burke commented on #44
I get a class cast exception if I POST json to this function:

    public HttpResponseMessage run(
            @HttpTrigger(name = "req", dataType = "binary") HttpRequestMessage<Optional<byte[]>> request,
            final ExecutionContext context)

[2021-01-15 00:42] Francisco-Gamino opened #414 "Functions Integration Tests—Onboard Java worker"
Please follow the instructions in the OneNote to onboard your language worker.

[2021-01-22 19:05] andy-clapham commented on #324
Hello, do you have any contact information for your partner team or their repos? At least knowing if they're going to be basing it around a framework would reduce churn later - e.g. will it be Spring?

[2021-01-25 19:26] helayoty commented on #324
@andy-clapham For now, you can use Spring Framework to use Azure Function for HTTP requests only (not the bindings.

[Here](https://docs.microsoft.com/en-us/samples/azure-samples/hello-spring-function-azure/hello-spring-function-azure/) is a sample of how to use it.

[2021-02-04 20:24] alrod opened #418 "Add support for RetryContext"
Issue: Azure/azure-webjobs-sdk#2595 added support to access retry context within execution context.

This tracking item to expose the same property in python functions. Currently blocked on Azure/azure-functions-host#7048

[2021-02-25 02:12] ODH003 opened #419 "gson response date-format"
Hi team, I'm using azure cloud function java 11 and the response of the functions are ok, just I would like to change the date-format for all output object. But I couldn't find any information about it.

![image](https://user-images.githubusercontent.com/48140216/109092639-ea45dc00-76e4-11eb-8715-247c21db8168.png)

I would like to get the response format:
spring.gson.date-format=yyyy-MM-dd'T'HH:mm

[2021-02-25 13:38] RishabhTayal commented on #123
@ZYJ-SH-CN What was the fix? @pragnagopa?

[2021-02-26 15:16] blavigne13 commented on #189
Currently evaluating moving to Azure and I would also like to see this feature. It seems like scala jars work fine with azure functions, it's just that there's some extra complication in terms of build and deployment.

[2021-02-27 00:33] shaunthomas999 opened #421 "'worker.config.json' configuration hardcoded for Windows"
Current `worker.config.json` has windows specific environment variable reference because of which `azure-functions-java-worker` won't work in macOS (also in linux)

E.g., JAVA_HOME - referenced as `%JAVA_HOME%`

#### Repro steps

* Follow instructions in https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-maven-intellij
* Worker won't startup properly while trying to run the ap

[2021-03-03 12:01] sschmeck commented on #357
It seems working using `JAVA_OPTS`.

[code]
The code above produced the following Application Insights logs.
[code]

[2021-03-04 09:50] MarcoCapussoAvnet commented on #123
@pragnagopa What was the fix????????????????????????

[2021-03-04 14:37] pragnagopa commented on #123
This is a closed issue. Please open new issue with repro steps

[2021-03-09 17:59] amamounelsayed commented on #421
Thank you so much for reporting this issue.

[2021-03-14 22:05] shaunthomas999 commented on #421
Actually, change `%JAVA_HOME%` to `$JAVA_HOME` didn't work for me eventually. I had to give full path to the java executable to make it work.

[2021-03-16 07:07] m-moris opened #422 "Azure Data Lake Storage Gen2 SDK does not work"
Azure Data Lake Storage Gen2 SDK does not work under the following conditions.

- OS : Windows
- Java Version : Java8

#### Repro steps

1. Create a storage account that has a hierarchical namespace.
2. Create container (e.g. my-file-system) in blob.
3. Create functions and deploy it.

[code]

[code]

4. Run "Code+Test" from Azure Portal. You will get the following log, and it looks like it is stu

[2021-03-17 13:31] neiser commented on #343
Thanks for reporting this @JuntaoZhu I had exactly the problem and it was hard to debug that in Azure functions. For all others, here's a complete "Input/Output" example for multiple documents (it even works with `List<Map<String, Object>>`):

[code]

[2021-03-18 16:13] sainath341 opened #423 "[BUG] Dependency Conflict Between Worker and Microsoft-Graph"
When using batch request from microsoft-graph sdk (for java) I am getting below error because of dependency conflict between function and java worker.
`
Exception: NoSuchMethodError: 'com.google.gson.JsonElement com.google.gson.JsonParser.parseString(java.lang.String)'
`
#### Investigative information
Followed this [issue #381](https://github.com/Azure/azure-functions-java-worker/issues/381) and t

[2021-03-19 07:00] CrawX opened #424 "[FeatureRequest] Allow customizing the Gson instance for Json serialization"
Hi all,

**Current problem**
The Gson instance used by `RpcUnspecifiedDataTarget` is hardcoded in `RpcJsonDataSource`
https://github.com/Azure/azure-functions-java-worker/blob/3ec27b2b82ba96adef593d51b0bb0e9c0063bfaa/src/main/java/com/microsoft/azure/functions/worker/binding/RpcUnspecifiedDataTarget.java#L68
https://github.com/Azure/azure-functions-java-worker/blob/3ec27b2b82ba96adef593d51b0bb0e9c

[2021-03-19 12:04] CrawX commented on #419
@ODH003 fyi I posted a workaround that could maybe help you out in the feature request #424.

[2021-03-19 17:23] amamounelsayed commented on #422
Can you please check this issue, https://github.com/Azure/azure-functions-java-worker/issues/381?
For java 8 you will need to set FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS True or 1.

Thank you,
Ahmed

[2021-03-19 17:31] amamounelsayed commented on #423
Thank you so much for your message. Can you please share what did you do for "I fixed local env by modifying gson dependency in azure-functions-java-worker.jar"?

Thank you so much

[2021-03-19 17:34] amamounelsayed commented on #357
Thank you @sschmeck, you are correct it should be working. I tested with linux and it worked too.

Please can you share your sku, and in case you are still facing the same issue?

[2021-03-19 17:42] sainath341 commented on #423
I opened azure-functions-java-worker.jar and replaced gson class files with gson (2.8.6).

[2021-03-19 17:48] amamounelsayed commented on #423
Thank you so much,
Unfortunately as you mentioned the worker depends on the Gson jar. It is the only one exposed as dependency.
We shaded before but we faced this issue https://github.com/Azure/azure-functions-java-worker/issues/400

Which sku are you planning to use in the cloud?

[2021-03-19 18:10] sainath341 commented on #423
Is sku a service plan type ?
I'm using Standard s1

[2021-03-23 05:11] m-moris commented on #422
Thanks for the advice.

I have confirmed that the function works correctly with this setting.

[2021-03-23 05:11] #422 closed, assigned to nobody

[2021-03-23 19:00] ghost commented on #357
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-23 21:53] anuchandy opened #425 "FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS seems no effect on local run (works on functions)"
FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS works fine on functions but not for local development:

The following sample can be used to reproduce this issue:

[hello-spring-function-azure.zip](https://github.com/Azure/azure-functions-java-worker/files/6192909/hello-spring-function-azure.zip)

run locally - "mvn azure-functions:run", and hit the endpoint, worker fails with dependency conflicts.

Stack: jav

[2021-03-23 21:54] amamounelsayed commented on #423
Sorry for my delay, Unfortunately to upgrade GSON will need new release there is no ETA for the upgrade, but I was looking for options. As your on Standard S1, you can follow https://github.com/Azure/azure-functions-host/wiki/Deploying-the-Functions-runtime-as-a-private-site-extension

By this way you can have your own jar upgraded. But this will require you for each release to update the host cod

[2021-03-23 21:56] amamounelsayed commented on #425
Can you please share your core tools versions? And your java worker version.

[2021-03-23 22:07] anuchandy commented on #425
sure, here is what copied from the log output of "mvn azure-functions:run"

Function Runtime Version: 3.0.13353.0
Azure Functions Java Worker  version [ 1.5.2-SNAPSHOT]

[2021-03-23 22:19] amamounelsayed commented on #425
Thank your for your message, You need to upgrade to the newer core tools
https://github.com/Azure/azure-functions-java-worker/issues/381

[2021-03-24 11:09] morwed opened #429 "Incompatible Netty libraries"
Hello,

I'm trying to use some Azure libraries together and found an incompatibility I don't know how to solve: this exception is thrown `"[2021-03-24T10:38:43.344Z] java.lang.NoSuchMethodError: io.netty.handler.ssl.SslProvider.isAlpnSupported(Lio/netty/handler/ssl/SslProvider;)Z"`

Please advise how to solve this incompatibility. Many thanks!

I'm using:
- Azure Functions Core Tools Version:

[2021-03-25 17:52] sainath341 commented on #423
Okay thank you @amamounelsayed, As a workaround there is a way to target custom worker in azure which solves my problem temporarily.

 **Steps :**
- copy the workers folder from local (\azure-functions-core-tools\bin\workers) which contains java  worker(the modified azure-functions-java-worker.jar, lib and worker.config.json )
- Paste the folder in azure function using kudu ( for ex: D:\home\site>

[2021-03-25 21:57] saikirangit commented on #425
@anuchandy @amamounelsayed  Thank you so much. Upgrading to newer core tools resolved the issue.

[2021-03-25 21:59] amamounelsayed commented on #425
Glad to hear, please let us know if you have any questions

[2021-03-25 21:59] #425 closed, assigned to nobody

[2021-03-26 21:00] #357 closed

[2021-03-30 17:56] apawast commented on #429
@amamounelsayed could you please take a look at this?

[2021-03-30 19:34] amamounelsayed commented on #429
Hey @morwed can you please check https://github.com/Azure/azure-functions-java-worker/issues/381?

Thank you so much

[2021-03-31 09:54] shaunthomas999 commented on #421
@amamounelsayed - Any idea when this issue will be fixed?

[2021-03-31 15:28] morwed commented on #429
Thank you for looking at this.

I've read [that issue](https://github.com/Azure/azure-functions-java-worker/issues/381), I think it solves the problem when using the library.

My use case is to use the Maven plugin and binary executable.
By using the azure-functions-core-tools Maven plugin + binary executable installed locally, they are loading into DefaultClassloader the Netty libraries version 4

[2021-05-06 22:40] Francisco-Gamino opened #430 "Onboard Java worker to be built as part of Integration Tests"

[2021-05-06 23:11] #430 closed, assigned to Francisco-Gamino

[2021-05-07 01:50] Francisco-Gamino opened #432 "Enable installing the Core Tools (from Integration Tests) in setup-tests-pipeline.ps1"

[2021-06-01 11:15] jotarada commented on #189
It would be a nice add to azure the scala support. I would use it for sure. Just thinking on update my scala to java code to use azure functions make me sad and evaluate other options

[2021-06-01 21:37] #432 closed, assigned to nobody

[2021-06-05 03:01] Francisco-Gamino opened #436 "Create Java language worker pipeline for integration tests"

[2021-06-05 03:57] #436 closed, assigned to nobody

[2021-06-09 08:11] olitomlinson commented on #213
@cgillum Hey Chris, are you still planning to make a start on Java support for DF this summer?

https://twitter.com/cgillum/status/1379795118450896900?s=20

[2021-07-06 10:36] wkarratoon commented on #140
Kind of more related to [jdneo's comment](https://github.com/Azure/azure-functions-java-worker/issues/140#issuecomment-404708243) above but empty settings can also occur when you use --force on deploy to switch the FUNCTIONS_WORKER_RUNTIME of your function app, in my case to node. When I did so I first got a 503 waiting for a response.

After some head-banging, I was then clued by comments here fo

[2021-07-06 12:13] sschmeck commented on #385
I faced a similar issue, which I have documented at [Configure Application Insights agent for Java Function Apps](https://stackoverflow.com/q/68265243/846163). The duplicated `traces` entries differ in `timestamp`, `customDimensions`, `sdkVersion` and `itemId`.

![image](https://user-images.githubusercontent.com/691132/124597829-3b6c9600-de64-11eb-85f0-0f0b3f2cb76a.png)

[2021-08-05 21:05] Francisco-Gamino opened #441 "Java language worker end to end test should also be run on Linux"
Java language worker end to end test should also be run on Linux. Currently, the end to end tests are only running on Windows.

[2021-08-29 13:17] vovikdrg commented on #244
How about returning Mono or Flux?

[2021-09-02 07:20] PratigyaS commented on #244
Hi, Any new update on this feature?

[2021-09-09 19:10] meeraeldhose commented on #339
Any updates on this. I am also facing this error when running azure functions

[2021-09-13 21:42] kaibocai opened #451 "Function have same method name as any method in Parent class will fail"
Java Function will crash if the method name is same as any parent class method name, for instance method like equal, wait, notify in Object class.

Steps for reproduce the issue:

1. create a sample function and change the method name to wait which will be same name as Object class wait method.
![image](https://user-images.githubusercontent.com/89094811/133158612-f5d0d8e3-052b-4a47-9053-873a8cf6f0

[2021-09-22 18:43] Francisco-Gamino opened #459 "Increase Java language worker startup time out in worker.config.json"
#### Issue description
There are some scenarios in which the Java language worker cannot initialized within 60 seconds. For this type of scenario it would be helpful to have the ability to change the Java language worker start up time and make it greater than 60 seconds.

A possible approach could be to make this value configurable using an app setting, and if this setting is not present, use a de

[2021-09-22 18:44] Francisco-Gamino commented on #459
/cc @amamounelsayed @FinVamp1

[2021-09-27 13:55] LPalmerMSI opened #464 "ServiceBusTopicOutput should not require "subscriptionName""
The "subscriptionName" parameter is currently required in the ServiceBusTopicOutput annotation on Azure Functions.  Service Bus messages targeted to all subscribers of a topic should not provide a subscription name, it should be left blank.  By requiring a subscription name you've limited the service bus output to one subscriber only instead of being able to deliver to all subscribers.

[2021-09-28 18:03] #412 closed

[2021-09-28 20:58] shreyas-gopalakrishna opened #465 "Java11: v3 - Static variable appears to be in different instance even though it's in the same class."
#### Investigative information

Using a static variable in java 11 appears to be treated as different instance even though it exists in the same class.
The issue is similar to #412 which will be fixed in v3 with an application setting.

#### Repro steps

Use a static variable in a Java function and update it from multiple objects.

#### Expected behavior

The variable must be static across all obj

[2021-09-28 21:30] #388 closed

[2021-09-30 05:14] auju01 commented on #407
any updates on this? MessageReceiver type does not seem available in java world.. The only implementatiopn to be found is in https://mvnrepository.com/artifact/com.microsoft.azure/azure-servicebus/3.6.5, but the com.microsoft.azure.servicebus.MessageReceiver class is non-public and cannot be referenced as such:

[code]

[2021-10-15 08:20] Waxolunist opened #474 "JAVA_OPTS not working"
Setting JAVA_OPTS does not have any effect.

I saw this PR, but it is not merged:

https://github.com/Azure/azure-functions-java-worker/pull/405

I also saw the discussions. But many libraries in the java world are assuming to get their settings via System.getProperty and not via System.getenv. So it does matter, that java developers can read System.getProperty.

Please explain how to set a system

[2021-10-20 14:25] parameshjava commented on #324
@helayoty can you please help me, how [this](https://github.com/Azure-Samples/hello-spring-function-azure/blob/master/src/main/java/com/example/Hello.java) component being reused in the given example, since not able to find anywhere the component being injected.

[2021-10-21 11:30] parineetha888 commented on #339
Any updates

[2021-10-21 15:32] amamounelsayed commented on #339
Thank you for your message, we implemented new feature for better logging, instead of using the context logging.
https://github.com/Azure/azure-functions-java-worker/wiki/Distributed-Tracing-for-Java-Azure-Functions
https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-functions

[2021-10-21 16:40] Shrirang97 opened #477 "Cannot convert binding.RpcHttpRequestDataSource to HttpRequestMessage<Optional<List<EventGridEvent>>>"
I have created HttpTrigger Azure Function.  I am calling by HTTP post request with body

          {
              "topic": "string",
              "subject": "string",
              "id": "string",
              "eventType": "UsageDetail",
              "data": {},
              "dataVersion": "string",
              "metadataVersion": "string"
            }
]

But I am getting following error lo

[2021-10-22 00:34] m-moris opened #478 "Binding Blob container to Blob output trigger"
Do you support BlobContainerClient class to Blob output trigger (@BlobOutput)?

From the following reference, it appears to be supported by NET.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-output?tabs=csharp#usage

Thanks.

[2021-10-25 17:26] Shrirang97 commented on #255
@fabiocav

https://github.com/Shrirang97/java-design-patterns/blob/claim-check-pattern-azure/claim-check-pattern/Call%20Usage%20App/src/main/java/com/iluwatar/producer/calldetails/functions/UsageDetailPublisherFunction.java

Please reopen above issue.

I created new issue https://github.com/Azure/azure-functions-java-worker/issues/477

[2021-10-25 17:34] Shrirang97 commented on #255
not working again.

[2021-10-26 12:53] jamespauly commented on #213
I would love to see native support of Java DF not something that is built on top of .NET.

[2021-10-26 17:04] cgillum commented on #213
@jamespauly could you elaborate a bit on what you mean and what runtime/build/etc. issues you might be anticipating for a DF Java release? There might be multiple possible interpretations of what "native support of Jav DF" or "built on top of .NET" means and I want to make sure I'm understanding your intended interpretation. :)

[2021-10-27 13:17] jamespauly commented on #213
@cgillum Sorry I misread an earlier post but if the java DF to come into preview I would love to start testing them.

[2021-10-31 14:40] Shrirang97 commented on #477
@pragnagopa can you please look into this?

[2021-11-01 21:29] liliankasem commented on #459
Does this PR help with this issue at all? https://github.com/Azure/azure-functions-host/pull/7491

[2021-11-03 21:06] tdkeeley commented on #213
I would love to see this feature.

[2021-11-30 21:31] ashwinp88 commented on #407
Hello,
Just checking in to see if there's any movement on this.

[2021-12-03 18:35] Ankzz commented on #213
Any update on timelines for this feature would help.
I have multiple scenarios in which DF suits my workflows (Audit world, needs many chained functions based on some logic to flow through). DF support for Java would help me drive multiple such workflow development.

[2021-12-03 18:46] cgillum commented on #213
/cc @AnatoliB and @anthonychu as we'll want to discuss this further in our upcoming planning cycle

[2021-12-08 09:07] SangNguyenTL opened #496 "[BUG] Java class DnsContextFactory could not be found the DNS on Azure function service."
#### Repro steps

Provide the steps required to reproduce the problem:

1. Call Azure key vault, Service bus, Storage APIs,... by Netty.
2. Netty will be resolved DNS by [DirContextUtils](https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DefaultDnsServerAddressStreamProvider.java#L53) class to get host IP of the above APIs.
3. DirContextUtils is got host name

[2021-12-09 09:03] SangNguyenTL commented on #496
Today I try to deploy my application to Azure Function Os Linux. Unexpectedly, the system got a normal DNS with DNS now: dns://127.0.0.11

I think the problem here is that JNDI is not getting DNS information from the Window side.

[2021-12-09 21:35] olivergrabinski commented on #189
As @monty-dev's blog post and repo are down, I have created an updated simple example [here](https://github.com/olivergrabinski/scala-azure-fn).

What complications have you encountered, @blavigne13?

[2021-12-10 01:21] silverlightweb commented on #496
I have a problem the same with him when I used the azure function :
- JAVA 11
- Spring boot 2.5.4
- Spring keyvault secret 3.50
- Netty version: 4.1.68 - 4.1.70
- Os: window
When my application tries to resolve the domain name of keyvault to IP. It can not get DNS address socket and then it back to queries from DNS google ( 8.8.8.8, 8.8.4.4). But on my company security doesn't accept the internal

[2021-12-10 11:44] mDeisen commented on #474
Experiencing the same issue.
Running Java 11 with both consumption or dedicated service plan using linux, setting JAVA_OPTS has no effect.

When switching to a windows host, JAVA_OPTS work as expected. I would prefer running on linux. Is there a workaround or fix for this?

[2021-12-10 18:34] #465 closed, assigned to shreyas-gopalakrishna

[2021-12-10 20:23] kaibocai commented on #474
Hi @mDeisen, thank you for providing the info. Can you provide more detailed how you verify this is not working? Thanks.

[2021-12-11 12:42] mDeisen commented on #474
@kaibocai
I have a Java application that uses JVM parameters for configuration.
When deploying it using a Linux Consumption environment and setting JAVA_OPTS  as well as WEBSITE_USE_PLACEHOLDER set to 0 as described in: [Functions reference](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-java?tabs=bash%2Cconsumption#customize-jvm) and reading/logging the value of the jv

[2021-12-13 15:56] kaibocai commented on #474
Hi @mDeisen @Waxolunist, thanks very much for the providing the info. I did some validation on my side. For linux dedicated and premium, I saw JAVA_OPTS works as expected.
Dedicated app setting:
![image](https://user-images.githubusercontent.com/89094811/145851653-1708b1c9-6030-42cd-8d21-e2776e127075.png)Dedicated app printing info:
![image](https://user-images.githubusercontent.com/89094811/14585

[2021-12-13 15:58] kaibocai commented on #474
Hi @Waxolunist, thank you for the info. For the issue about System.getProperty, can you create a separate issue for it and provide more details how that affect you in your project. Thank you.

[2021-12-13 16:10] kaibocai commented on #451
V4 already had the fix as this pr https://github.com/Azure/azure-functions-java-worker/pull/453
V3 still waiting for fix.

[2021-12-13 17:12] amamounelsayed commented on #474
Thank you so much for your message, can you please share which config you are using and how did you validate it?

[2021-12-22 09:05] Waxolunist commented on #474
@amamounelsayed @kaibocai JAVA_OPTS does not work on my linux function app, but languageWorkers__java__arguments does. To read the variable you actually have to read a set property with System.getProperty. If this is the solution (though not pretty), the ticket can be closed.

[2021-12-27 16:45] kaibocai commented on #474
Hi @Waxolunist Thanks for your reply. Please see below code snippet for using System.getProperty to retrieve a property you set using languageWorkers__java__arguments.
![image](https://user-images.githubusercontent.com/89094811/147491161-cd29da93-774b-4f2d-a227-194768f3d586.png)
in your azure function add configuration as
![image](https://user-images.githubusercontent.com/89094811/147491214-f21ce1

[2022-01-05 16:39] #418 closed

[2022-01-18 14:24] nks0203 commented on #213
I could use this feature in many of my scenarios. Waiting eagerly for something to be done on it.

[2022-01-18 23:27] brunoborges commented on #421
Can we change the title of this issue to `worker.config.json configuration hardcoded for Windows`?

Because this is preventing the worker from running on Linux and WSL (Windows Subsystem for Linux) besides macOS.

[2022-02-03 21:15] kaibocai opened #522 "Should use getDeclaredMethods instead of getMethods"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known work

[2022-02-03 22:23] molotch commented on #189
I'd love native support for Scala.

[2022-02-17 19:19] kaibocai commented on #459
Close this issue as the pr provide by @liliankasem helped.

[2022-02-17 19:19] #459 closed, assigned to nobody

[2022-02-17 19:26] kaibocai opened #527 "Use extension bundle version equal or higher than 2 for v4 functions"
For v4 functions please use extension bundle version equal or higher than 2 in host.json file.
host.json example:
![image](https://user-images.githubusercontent.com/89094811/154555832-539ee309-30f0-45ea-a656-b6e4189ced7f.png)

[2022-02-22 05:10] purijatin opened #528 "App Insights dynamic tracing does not work against Docker Images"
#### Investigative information

This is easy to replicate.

#### Repro steps

Usually, to enable application insights 3, we need to add the following config `ApplicationInsightsAgent_EXTENSION_VERSION=~3`. And the dynamic tracing functionality automatically works.

But if the azure function is deployed using the docker image. Then the auto-tracing does not work. To make it work, I have to manually

[2022-02-22 06:10] purijatin opened #529 "Re-enabling Application Insights does not turn on Dynamic Tracing"
#### Investigative information

It is easy to replicate the bug. Have been able to replicate it several times

- Timestamp: 22nd Feb 2022
- Function App name: CodeRuntimePrac2
- Function name(s) (as appropriate):
- Invocation ID:
- Region: centralus

Azure function deployed against Java 8 Code Runtime

#### Repro steps

Usually, to enable application insights 3, we need to add the following config

[2022-03-04 22:20] kaibocai opened #530 "Setting HttpResponseMessage body to anonymous class returns null body in response"
#### Investigative information

Please provide the following:

- Timestamp: 03/04/2022
- Function App name: N/A
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: N/A

#### Repro steps

Provide the steps required to reproduce the problem:

1. create a sample httptrigger function on local with return code like
[code]

run the function locally and send out the Get request
![imag

[2022-03-07 01:03] ghost opened #531 "同学，您这个项目引入了27个开源组件，存在2个漏洞，辛苦升级一下"
检测到 Azure/azure-functions-java-worker 一共引入了27个开源组件，存在2个漏洞
[code]
另外还有2个漏洞，详细报告：https://mofeisec.com/jr?p=n6b94b

[2022-03-07 01:03] Kwaisece commented on #531
@Azure，同学，您好，上面的漏洞报告是我IDE运行时，安全插件提示您这个项目存在的几个漏洞的报告，辛苦您修复一下哈，担心其他人也会用到你这个项目，从而引入这些漏洞。：）

[2022-03-07 23:57] kaibocai opened #533 "JAVA8 should not create Classloader as SystemClassLoader is the one will be used to load all class"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known work

[2022-03-10 01:37] Kwaiseec commented on #531
@Azure，同学，您好，上面的漏洞报告是我IDE运行时，安全插件提示您这个项目存在的几个漏洞的报告，辛苦您修复一下哈，担心其他人也会用到你这个项目，从而引入这些漏洞。：）

[2022-03-11 14:23] HeyImAllan opened #536 "Several vulnerabilities in libnetty dependencies"
Dear all,

No errors where found in the running of this worker but our prisma scanning tools revealed that libnetty has several vulnerabilities:

[
{"id":"CVE-2019-20445","packageName":"io.netty_netty-codec-http"},
{"id":"CVE-2019-20445","packageName":"io.netty_netty-codec"},
{"id":"CVE-2019-20444","packageName":"io.netty_netty-codec"},
{"id":"CVE-2019-20444","packageName":"io.netty_netty-codec-ht

[2022-03-11 15:32] shreyas-gopalakrishna commented on #536
Thanks for informing @HeyImAllan. We will take a look into this

[2022-03-15 02:44] kwaicsse commented on #531
@Azure，同学，您好，这个项目您还在维护吗？上面的漏洞报告是我IDE运行时，安全插件提示您这个项目存在的几个漏洞的报告，辛苦您修复一下哈，担心其他人也会用到你这个项目，从而引入这些漏洞。：）

[2022-03-16 11:31] mayurgupta opened #540 "Swagger UI Not working with Azure function"
I have tried running **spring-cloud-function-webmvc** app. and hit the /swagger-ui URL. I can see swagger UI comming up,
But when i put Azure function plugin in pom. The swagger UI stops comming you.
I have attached modified version of this working project with Azure function here.

[spring-cloud-function-webmvc.zip](https://github.com/springdoc/springdoc-openapi-demos/files/8097480/spring-cloud-f

[2022-03-22 04:12] chrisc96 commented on #536
Also have the same issue and would like to see this fixed

[2022-03-23 14:02] onobc commented on #244
Hi @amamounelsayed ,

We have users asking about this capability in spring-cloud-function and It would be helpful to get an idea where this feature request stands wrt to the overall product roadmap / backlog. Can you give an update on this?

Thanks.

[2022-03-29 04:01] onobc opened #548 "Support for Java 17"
Some of the Azure services w/ a [managed Java runtime](https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/java-support-on-azure#supported-java-versions-and-update-schedule) are able to use Java 17. When will Azure Functions support Java 17?

[2022-04-07 21:28] #536 closed, assigned to shreyas-gopalakrishna

[2022-04-07 22:17] amamounelsayed opened #559 "Upgrading GSON version from 2.8.5 to 2.9.0"
For best practices please for Package com.google.gson.internal Do NOT use any class in this package as they are meant for internal use in Gson. These classes will very likely change incompatibly in future versions.

-- https://javadoc.io/doc/com.google.code.gson/gson/1.7.2/com/google/gson/internal/package-summary.html

[2022-04-07 22:21] amamounelsayed commented on #559
https://github.com/Azure/azure-functions-java-worker/issues/400

[2022-04-07 22:22] amamounelsayed commented on #400
Related work: https://github.com/Azure/azure-functions-java-worker/issues/559

[2022-04-28 16:02] kaibocai opened #563 "Sample Function code to check JDK version"
[code]

[2022-04-28 16:02] #563 closed, assigned to nobody

[2022-05-09 15:08] joshuapetryk commented on #464
In the meantime you may leave subscriptionName as a dummy value (I tested with "noop") and it will still send to all subs in a topic.

[2022-05-09 15:22] joshuapetryk opened #570 "Service Bus OutputBinding doesn't support ServiceBusMessage type with Metadata"
There doesn't appear to be equivalent functionality for setting ServiceBusMessage Metadata in the Java worker. Compare with the C# documentation: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-output?tabs=in-process%2Cextensionv5&pivots=programming-language-csharp#usage

Is there no equivalent in Java?

#### Repro steps

Provide the steps required to reproduc

[2022-05-10 18:48] kaibocai commented on #540
Hi @mayurgupta thanks for reaching out, if you see in your screen shot the url for http trigger function app is http://[localhost](http://localhost:8080/api/swagger-ui.html):8080/api/uppercase instead of http://[localhost](http://localhost:8080/api/swagger-ui.html):8080/api/swagger-ui.html, that's why you got 404 when you try to access http://[localhost](http://localhost:8080/api/swagger-ui.html):

[2022-05-16 21:33] djangofan commented on #255
I am able to reproduce this bug.  Use the following DEMO repository: https://github.com/djangofan/mockito-experiment/blob/main/src/main/java/com/test/meta/HttpTriggerFunctions.java

The function at line # 27 and 41 both work.

The function at line # 55 (the createAlt function) does NOT work and throws the above reported error (or very similar).

Can someone try my repo and acknowledge or provide a

[2022-05-18 14:42] #474 closed, assigned to nobody

[2022-05-18 14:45] #142 closed

[2022-05-25 16:08] kaibocai opened #575 "We should add logics to log whether cx brings their own java library and what version of java library they are using."
#### Investigative information

Please provide the following:

- Timestamp:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known work

[2022-05-26 18:26] kaibocai commented on #244
Hi @onobc , thanks for reaching out. I would like to understand more how customer will be using mono/flux returned by functions. Do we have some solid user cases that I can take a look and think about. Thanks.

[2022-05-27 12:22] eborisow opened #577 "Receiving a NullPointerException while attempting to test local RabbitMQOutput"
I've setup a basic Azure function with the @TimerTrigger and @RabbitMQOutput annotations as mentioned here:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-rabbitmq?tabs=in-process&pivots=programming-language-java

[code]

Unfortunately, I'm receiving the following error in the output when testing locally with Azurite in Visual Studio Code.  Here's the stack trace:

[code

[2022-05-31 03:29] onobc commented on #244
Hi @kaibocai , I have been out on PTO and have not had a chance to get the requested info. I just wanted to reach out and tell you thanks for the reply and I will get you that info sometime in the next week.

[2022-06-05 16:11] Francisco-Gamino commented on #414
This work has been completed.

[2022-06-05 16:11] #414 closed

[2022-06-06 18:33] kaibocai opened #580 "Java worker doesn't respect module info defined on cx code"
#### Investigative information

Please provide the following:

- Timestamp: 06/06/2022
- Function App name: N/A
- Function name(s) (as appropriate): N/A
- Invocation ID: N/A
- Region: Local

#### Repro steps

Provide the steps required to reproduce the problem:
**Running on java11**
1. code snippet:
Function.java
[code]
module-info.java
[code]

#### Expected behavior

Provide a description of the

[2022-06-07 21:25] kaibocai commented on #580
add another example that using module service failed.
https://github.com/kaibocai/java-worker-module-service-issue
https://github.com/kaibocai/java-worker-module-issue/tree/master

[2022-06-09 19:00] liliankasem opened #582 "Populate WorkerMetadata in WorkerInitResponse message"
The protobuf has been updated to include a `WorkerMetadata` property within the `WorkerInitResponse` message. The worker should include `WorkerMetadata` when sending the `WorkerInitResponse` to the host.

[PR](https://github.com/Azure/azure-functions-language-worker-protobuf/pull/76) for reference on how to fill in the fields.

You will need to pull in the latest protobuf version first (this [doc]

[2022-06-14 22:15] onobc commented on #244
Hi @kaibocai , one specific scenario is [user sending a JMS message](https://github.com/spring-cloud/spring-cloud-function/issues/757#issuecomment-1047180999) for each item in the returned flux. Other than that I believe it is mostly Reactive enthusiasts wanting their Reactive APIs.

I do think there is also another not-so-obvious use case - the use of non-blocking APIs in the function implementat

[2022-06-15 22:33] liliankasem commented on #582
Latest proto version is now [v1.5.8](https://github.com/Azure/azure-functions-language-worker-protobuf/releases/tag/v1.5.8-protofile)

Edit: I had to force push so please confirm the commit hash is `14b2ba5` when you pull the protobuf into your repo

[2022-06-16 20:21] shreyas-gopalakrishna opened #585 "Application insights agent will be part of the java worker"
# [Draft Issue - This is not yet released]

- Application insights agent will be part of the java worker and included in worker release
- Java consumption, dedicated and Elastic premium apps
  - Use `APPLICATIONINSIGHTS_ENABLE_AGENT` = true/false to enable and disable application insights
- Java consumption apps
  - Application insights agent will start with the java process by default
  - To disa

[2022-06-17 01:22] bluebeaker-songhyunkim commented on #324
Dependency Injection still not available in Azure Functions Spring?

[2022-06-17 15:24] purijatin commented on #585
Would the behavior remain the same when deployed via docker image?

Currently, the documentation isn't clear when it comes to the docker image. This is what we are currently doing: https://stackoverflow.com/questions/71085054/java-azure-application-insights-dynamic-tracing-not-working-with-docker-images/71085468#71085468

And it is painful.

[2022-06-17 19:19] vetler commented on #424
+1

[2022-06-17 22:10] cmhh commented on #189
Looking unlikely, but I'd like to see support.  I wonder if it's worth attempting to support this by building a giter8 template or something instead... so Scala users could do something like `sbt new azure/azure-function.g8`.

[2022-06-19 13:41] bluebeaker-songhyunkim commented on #324
Hey~
Do we have Dependency Injection for Spring framework now in 2022 June?

[2022-06-20 14:54] cbismuth opened #589 "Cannot load JAR packaged `application.properties` file with Spring framework when switching to Java 11"
Dear Azure Functions Java team,

We're trying to upgrade our Java based Azure functions to Java 11, but the Spring framework cannot load JAR packaged `application.properties` file when switching our functions to Java 11.

Java and Maven versions:

[code]

We've already upgraded to the latest Azure runtime v4, and here are the latest Maven dependency versions we use:

[code]

We can reproduce the i

[2022-06-20 19:32] kaibocai commented on #589
Hi @cbismuth , thanks for reaching out with the issue, can you share a repo for sample project (it will save us time on configuration and focus on resolving the issue) that we can use to reproduce the issue. Thanks a lot.

[2022-06-21 12:51] cbismuth commented on #589
Hi @kaibocai, issue found, it occurred when a Spring component is loaded statically from a function class definition, as shown below:

https://github.com/cbismuth/azure-functions-java-worker-issue-589/blob/1733b006cb196f64374547fa43a1520583c36e06/function/src/main/java/com/github/cbismuth/azfuncjava11/SampleFunction.java#L16

No issue when the `environment` bean is loaded inside the function code

[2022-06-21 14:11] kaibocai commented on #589
You mean worked well with Java 8 right. Also, did you only observe this issue when in function definition class, for normal class we don't have this issue? Thank you.

[2022-06-21 14:16] cbismuth commented on #589
Ouch, yes sorry: I don't know why this worked well in Azure functions with Java **8**.

[2022-06-22 17:45] cgillum commented on #213
Durable Functions for Java has been released as a public preview!

* Announcement: [Public preview: Durable Functions for Java](https://azure.microsoft.com/updates/public-preview-durable-functions-for-java/)
* Blog post: [A Tour around Durable Functions for Java](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/a-tour-around-durable-functions-for-java/ba-p/3530046)

Now that it's publicly

[2022-06-22 18:30] kaibocai commented on #589
Hi @cbismuth, we are continuing investigating the issue, at mean time I found you are using spring with azure functions, just want to check have you ever consider using spring cloud function based on azure functions where you can find samples [here](https://github.com/Azure-Samples/hello-spring-function-azure), it will enables you to use spring boot just as a normal spring boot application and you

[2022-06-22 18:44] cbismuth commented on #589
Hi @kaibocai, thanks a lot for your support.

We started to use Spring framework long before Spring Cloud Functions were available, and we don't plan to migrate as everything will hopefully work well when removing the `static` modifier with Java 11.

We don't want to use Spring Boot as it brings too many dependencies and we want to keep our project lightweight and tidy. Spring Context is enough fo

[2022-06-22 19:41] cbismuth commented on #589
@kaibocai I came across this documentation section with Java 1.8 as a prerequisite for the Maven plugin, is it outdated? thanks

https://github.com/microsoft/azure-maven-plugins/wiki/Azure-Functions#prerequisites

[2022-06-22 20:45] kaibocai commented on #589
Hi @cbismuth , yes it's out of date, it supports 1.8 and 11. Will update the page soon. Thank you.

[2022-06-23 21:27] kaibocai commented on #589
Hi @cbismuth , thanks again for open this issue. We have found the root cause, it's due to a bug in azure function java worker. Put it simple, the classloader(system classloader) that used to load static fields are different as the classloader(classloader defined by ourself) that used to load non-static fields. That's why when use static key world, the wrong classloader cannot find the resources a

[2022-06-24 11:40] kaibocai commented on #577
Hi @eborisow , thanks very much for open this issue. Would you mind provided a repo that we can use to reproduce the issue, so we can focus on fixing the issue instead of set up/configuration. Thank you.

[2022-06-24 12:40] kaibocai commented on #577
Hi @eborisow , thanks very much for open this issue. Can you make sure you have the right host.json configuration set up. More details can be find [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-rabbitmq-trigger?tabs=in-process&pivots=programming-language-java#hostjson-settings).
Also can you let me know how you get your rabbitmq connection string? Thank you.

[2022-06-24 12:45] #540 closed, assigned to nobody

[2022-06-24 12:45] #530 closed, assigned to nobody

[2022-06-24 12:59] cbismuth commented on #589
Thanks @kaibocai 👍 classloaders have always been tricky bits ;)

[2022-06-24 15:59] cgillum opened #595 "Custom middleware for function triggers"
### Summary

The Java language worker should support a custom middleware feature that enables the following:

- Ability to inspect and change trigger input type and value
- Ability to control when and whether to invoke the target function
- Ability to catch exceptions that are thrown from the function execution
- Ability to both inspect and change the trigger return value
- Ability to automaticall

[2022-06-24 17:13] kaibocai commented on #424
Hi @CrawX , @vetler , thanks for opening this issue. This is a hard issue we are actively working on. We are trying to remove gson dependency from java worker. We will try to roll out the feature as soon as possible. Will keep you updated. Thank you.

[2022-06-24 17:17] kaibocai commented on #477
Hi @Shrirang97 , thanks for open this issue, sorry for the late reply as we are full of capacity. The source link you provided is giving 404, would you mind give the latest link for the repo to reproduce this issue. Thanks very much.

[2022-06-24 17:20] #451 closed, assigned to nobody

[2022-06-24 17:31] kaibocai commented on #335
Hi @svangeti , @Andycharalambous , thanks for reaching out. Are you still get this issue. If yes can you provide a repo that we can used to reproduce the issue. You can find more azure functions java samples [here](https://github.com/Azure-Samples/azure-functions-samples-java/tree/master/src/main/java/com/functions). Thank you.

[2022-06-24 17:32] #362 closed

[2022-06-26 15:13] kaibocai commented on #419
Hi @ODH003 , Thanks very much for opening this issue. As CrawX provided a workaround, we still want to know if you can provide an repo used to reproduce this issue. Thanks very much.

[2022-06-27 09:54] AjayAsok commented on #255
Hi,
I am facing the same issue.
Exception: ClassCastException: Cannot convert com.microsoft.azure.functions.worker.binding.RpcHttpRequestDataSource@1222ab9ato type com.microsoft.azure.functions.HttpRequestMessage<java.util.Optional<com.example.ToDoItem>>
Stack: java.lang.ClassCastException: Cannot convert com.microsoft.azure.functions.worker.binding.RpcHttpRequestDataSource@1222ab9ato type com.mic

[2022-06-27 09:58] AjayAsok opened #596 "Still facing class cast exception"
Hi,
I am facing the ClassCastExeption issue shown below.
Exception: ClassCastException: Cannot convert com.microsoft.azure.functions.worker.binding.RpcHttpRequestDataSource@1222ab9ato type com.microsoft.azure.functions.HttpRequestMessage<java.util.Optional<com.example.ToDoItem>>
Stack: java.lang.ClassCastException: Cannot convert com.microsoft.azure.functions.worker.binding.RpcHttpRequestDataSourc

[2022-06-27 11:49] maciejbak85 commented on #337
hmm what about this issue ? I assume currently in azure functions its not possible to use ServiceBusTopicOutput annotation to put into topic if its partitioned ?

[2022-06-28 12:55] kaibocai commented on #596
Hi @AjayAsok , thanks for reaching out. Can you provide the post request you send to you function, also can you let us know how you defined your ToDoItem class. A repo that can be used to reproduce the issue with all those info I asked will be very helpful for us to identify your issue, instead of wasting time on minor configs. Thank you.

[2022-06-29 10:16] AjayAsok commented on #596
Hi @kaibocai, Thank you so much for your response. It worked in my colleagues system perfectly without. I have copied the same and works for me as well. I guess this is something with the version mismatch or with my environment. Thank you so much for your time.

[2022-06-29 10:16] #596 closed, assigned to nobody

[2022-06-29 13:39] ielkhalloufi commented on #407
Is there any movement? It's an incomplete feature. I cannot inject a MessageReceiver into my ServiceBusQueueTrigger. I get the following error message:

`Caused by: java.lang.UnsupportedOperationException: Interface can't be instantiated! Interface name: com.microsoft.azure.servicebus.IMessageReceiver`

Is there a workaround this?

[2022-07-06 13:37] #577 closed, assigned to nobody

[2022-07-12 18:20] #421 closed, assigned to nobody

[2022-07-12 18:20] #585 closed, assigned to nobody

[2022-07-12 19:44] #531 closed, assigned to nobody

[2022-07-13 20:06] #419 closed

[2022-07-14 19:49] UnknownJoe796 commented on #291
I still don't have a way to get the raw body of a request, and it is actively preventing me from making endpoints that can handle either JSON or multipart form data.  Is there anything I can do to help?  What needs to be done so that this feature is available in the cloud as well?

A simple way to get around the issue for now would be if  `RpcStringDataSource` and `RpcJsonDataSource` had the addit

[2022-07-22 21:06] kaibocai opened #601 "adding unit tests and integration tests"
Java worker is lacking unit tests and integration tests compared with other language workers. We need to add more of them.

[2022-07-25 18:55] microsoft-github-policy-service[bot] opened #603 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-01 16:30] #589 closed, assigned to kaibocai

[2022-08-01 16:36] #582 closed, assigned to kaibocai

[2022-08-08 19:09] #441 closed, assigned to shreyas-gopalakrishna

[2022-08-09 15:01] shreyas-gopalakrishna commented on #603
[PR](https://github.com/Azure/azure-functions-java-worker/pull/602) merged

[2022-08-09 15:01] #603 closed, assigned to nobody

[2022-08-10 16:26] shreyas-gopalakrishna commented on #55
Closing this issue due to inactivity. Java worker has been improved with several changes. Please reopen if this issue persists and we can help you 😄

[2022-08-10 16:26] #55 closed

[2022-08-10 16:59] #392 closed

[2022-08-10 18:34] kaibocai commented on #575
This is already logged at https://github.com/Azure/azure-functions-java-worker/blob/1507c467d62ff7ac406938dd2bee0dbc479ad4cf/src/main/java/com/microsoft/azure/functions/worker/reflect/DefaultClassLoaderProvider.java#L39 and https://github.com/Azure/azure-functions-java-worker/blob/1507c467d62ff7ac406938dd2bee0dbc479ad4cf/src/main/java/com/microsoft/azure/functions/worker/reflect/EnhancedClassLoade

[2022-08-10 18:34] #575 closed, assigned to nobody

[2022-08-10 18:35] kaibocai commented on #527
close with pr https://github.com/Azure/azure-functions-java-worker/pull/607

[2022-08-10 18:35] #527 closed, assigned to nobody

[2022-08-10 18:38] kaibocai commented on #383
Closing this issue due to inactivity. Java worker has been improved with several changes. Please reopen if this issue persists and we can help you.

[2022-08-10 18:38] #383 closed

[2022-08-10 18:57] shreyas-gopalakrishna commented on #354
Grpc updated to latest. Closing this issue

[2022-08-12 10:11] fxgendrin opened #612 ""invoked by Java Worker" is seen as "Function.My_Function.User" log instead "Function.My_Function""
#### Repro steps

- Create a Java function app (via vs code with default option)
- Run default HTTP trigger (see files in attachment)
In logs you will get those

_[2022-08-12T10:05:22.726Z] Executing 'Functions.HttpExample' (Reason='This function was programmatically called via the host APIs.', Id=a2ec0e2c-a1c0-48d3-89b6-c8a68f66d8e8)
[2022-08-12T10:05:22.863Z] Java HTTP trigger processed a reques

[2022-08-12 15:15] #533 closed, assigned to kaibocai

[2022-08-17 20:11] kaibocai opened #626 "automated worker release process"
worker release process should be automated save time and energy :)

[2022-08-18 19:41] shreyas-gopalakrishna opened #630 "Allow java workers to terminate gracefully when WorkerTerminate message received"
Host will send a [WorkerTerminate](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/58b3dc0dbde065b15bd979bd2e27f36b7ee6273e/src/proto/FunctionRpc.proto#L39) message to worker to allow the worker to terminate itself gracefully instead of immediately killing it. Worker to act on this signal and send Success response to Host.

Related issue on Host side - https://github.com/Azu

[2022-08-19 11:52] ghost commented on #407
is there any update on this ? I am facing the same issue with Java when i try to use IMessageReceiver as shown below:

[code]

Error is :
[code]

Is there any document with clear examples on how to use IMessageReceiver with Java in Azure Functions ?

[2022-08-19 12:35] ghost opened #632 "ServiceBusQueueTrigger IMessageReceiver Binding for Java throws error"
I am using an ServiceBusQueeue Triggered azure function in Java.  I have disabled the "autoComplete" message because i want to receive the message and manually complete it. I am trying to make use of "IMessageReceiver" to manually complete the message after it is received and processed.

Im getting below error :

[code]

Is there anything wrong that I am doing ?

Below is my host.json file:

[code

[2022-08-19 18:05] shreyas-gopalakrishna opened #633 "Handle FunctionsMetadataRequest and FunctionsMetadataResponse in Java worker"
Proto file link - https://github.com/Azure/azure-functions-language-worker-protobuf/blame/dev/src/proto/FunctionRpc.proto#L81

[2022-08-22 13:19] kaibocai commented on #626
Pipeline created at https://azfunc.visualstudio.com/Azure%20Functions/_release?_a=releases&view=all&definitionId=88

[2022-08-22 13:19] #626 closed, assigned to kaibocai

[2022-08-25 18:11] kaibocai opened #635 "Should Java worker load cx code at worker start up?"
Dotnet worker, python worker both have reference to cx code at worker start up, this brings a lot of flexibility into worker implementation and when adding new features to worker and also improve java worker performance (as load cx logics will only be executed once. Right now, this logics is executed for each function load request). Java worker should some how consider the same way.

Python worker

[2022-08-30 21:07] shreyas-gopalakrishna opened #637 "Avoid reading from DISK during cold start specialization"
When running a profiler for the placeholder pools, it is observed that there are some files which is being read from the disk during specialization.
Reading those files before specialization will help in paging in bytes to reduce the disk reads.

The java worker reads files such as below during specialization which impacts cold start numbers.
- C:\\Program Files\\Java\\microsoft-jdk-11.0.14.1\\bin

[2022-09-09 15:57] #630 closed, assigned to nobody

[2022-09-09 20:00] kaibocai opened #644 "Eventhub Binary message not respect"
When eventhub send binary message, java function app is getting garbled string message

example:
[code]
![image](https://user-images.githubusercontent.com/89094811/189433744-17129287-01df-47bc-9e2e-23c98d8dc0fa.png)

Python script for sending binary message to eventhub
[code]

[2022-09-12 21:19] kaibocai commented on #244
Hi @Kondamon , can you provide the full code of your function code. It will help me understand the full picture. Thanks a lot.

[2022-09-13 07:04] Kondamon commented on #244
@kaibocai in my case I‘m not using async anymore since there were no benefits in my use case. The example was from https://quarkus.io/guides/mailer-reference

[2022-09-13 17:28] zodiacfireworks opened #646 "where are my jars"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known work

[2022-09-13 18:12] kaibocai commented on #646
Hi @zodiacfireworks , can your provide more info on this issue?

[2022-09-14 02:40] Francisco-Gamino opened #647 "Azure.azure-functions-java-worker pipeline fails to complete in 1 hour"
In the integration test infrastructure, we have a 1 hour timeout for a pipeline execution. If the pipeline does not complete within this time, the job is marked as failed. Could you please let me know if this is the expected behavior (for the build to take longer than 1 hour)? Please note that this started to occurred after enabling Java 17.

Here a couple of the failed builds:
https://azfunc.visu

[2022-09-14 02:54] kaibocai commented on #647
Hi Francisco, thanks for reaching out.
After we add the linux plantform https://github.com/Azure/azure-functions-java-worker/issues/441 and java17, now in total there are 2 (windows/linux) * 3 (java8/11/17) = 6 jobs to run. I found each job takes average time around 5 to 7 mins. But the waiting time between each jobs takes average around 5 to 10 mins. So the total build time can take up to 1 to 1

[2022-09-14 15:28] kaibocai commented on #647
parallelize the jobs will not be possible as it will cause race condition on the resources.

[2022-09-14 15:46] #646 closed, assigned to nobody

[2022-09-15 01:52] Francisco-Gamino commented on #647
Thank you @kaibocai for the follow up. I will increase the timeout in for the pipeline execution script. I have a couple of follow up questions:

- What is the expected runtime of your pipeline?
- When you enable a new version of Java, are you going to add it to the existing pipeline? I am asking this because if this is the case, then we will potentially run into this same issue again.

[2022-09-15 04:03] kaibocai commented on #647
Thank you Francisco.

- For the expected run time: if ideally there is no waiting time between jobs, it should be around 40mins. But since the waiting can take up to 5-7 mins between each job, it's safe to expect it to finish in 1 and half hour.
- Yes, that's correct. We are working on setting up a second copy of resources and parallelize jobs across the two copies of resources to reduce the pipel

[2022-09-15 15:29] kaibocai opened #648 "reorder arguments resolving logics to full support middleware - V5 - breaking change."
For today's middleware support logics we are convert the parameter payload to String for middleware to consume during the invocation request at https://github.com/Azure/azure-functions-java-worker/blob/679e5618010d6c3b68b48654048c268b7274a116/src/main/java/com/microsoft/azure/functions/worker/binding/ExecutionContextDataSource.java#L120,

This has limitation as middleware is getting the payload th

[2022-09-16 05:42] pebo commented on #548
Java 17 LTS was released just over a year ago. Are there any updates regarding if/when Azure Functions will support this version?

[2022-09-16 13:52] kaibocai commented on #548
Java 17 will be in public review next month. Thank you.

[2022-09-16 17:18] shreyas-gopalakrishna opened #650 "Java version check in Windows section of pipeline points to default version"
This is a low priority bug fix. The pipeline runs on Linux and Windows OS. In the windows OS, checking Java version using `java -version` shows Java 8 even after downloading and installing Java 11 and 17.

The tests are running on the correct Java versions. Only the pipeline displays it wrong.

[2022-09-20 15:12] jpnaidu07 commented on #324
Hello

It's been more than 2+ years since any update on DI for java azure functions.

[2022-09-20 15:18] kaibocai commented on #324
For now, you can use [Spring Cloud Function on Azure](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/getting-started-with-spring-cloud-function-in-azure) for DI on java azure functions.

The DI Hook feature will be roll out in upcoming months, it will allows you to use whatever DI framework you preferred.

[2022-09-20 15:19] kaibocai commented on #324
Please checkout [Spring Cloud Function on Azure](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/getting-started-with-spring-cloud-function-in-azure)

[2022-09-20 16:01] survivant commented on #407
I have similar issue(at least the same exception)
[code]

I want to be able to identify the device that updated.  I have a sample that works from azure SDK but not for azure function

<img width="954" alt="image" src="https://user-images.githubusercontent.com/191879/191307793-d77594b9-a787-43b9-b0dc-2b10149fa51f.png">

[2022-09-20 16:36] marxxxx commented on #324
Could you share any details about this feature? How the api will look like and when it can be expected to be available?

[2022-09-20 16:58] survivant opened #653 "Unable to retreive Event properties with Azure function. Exception at getTriggerMetatDataByName(BindingDataStore.java:66)"
I have IOT Hub that send device events to EventHub using routing.  I have a Azure function that receive those events, but I'm not able to retreive the event headers/properties.  When I device update his properties, I received a event but within that event, the sourceid (deviceid) is not included, so I need to look into IOTHub event's properties to have that information.

here the code that I have

[2022-09-20 16:59] kaibocai commented on #324
We are actively working on it and hoping to test and release in upcoming months.  Sorry I can not provide a accurate estimated time for now. We will also have documents for it once the feature is out. Thanks.

[2022-09-21 16:25] kaibocai commented on #653
Hi @survivant , thanks for opening the issue. Here is an example to get the meta data of event from EventHub, instead of using a Object array can you try the Map as showing in the example. https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-trigger?tabs=in-process%2Cfunctionsv2%2Cextensionv5&pivots=programming-language-java#example

Thanks.

[2022-09-21 16:53] kaibocai commented on #612
Remove this log info or change it to fine level will be a break change. Wait till V5 to discuss.

[2022-09-21 18:06] kaibocai commented on #632
Hi @M-Mendonca , we currently don't support binding meta data like `IMessageReceiver` for service bus trigger. If you really have this requirement please open a issue at [azure function host](https://github.com/Azure/azure-functions-host) . We are depending on host to send out those meta data so we can construct them in the worker.

[2022-09-21 18:22] survivant commented on #653
@kaibocai thanks.  That code work fine.

[2022-09-21 18:23] #653 closed, assigned to kaibocai

[2022-09-21 18:34] kaibocai commented on #632
Hi @M-Mendonca , can you share how you `IMessageReceiver` class is defined and any document you use to create it?
The binding name should be `@BindingName("MessageReceiver")`, please let me know which document you are referring so I can help to update it with correct binding name. Thanks.

[2022-09-21 18:58] kaibocai commented on #529
Adding @trask and @MadhuraBharadwaj-MSFT just for awareness.

[2022-09-21 19:03] kaibocai commented on #528
Adding @trask and @MadhuraBharadwaj-MSFT just for awareness.

[2022-09-22 17:34] avs099 opened #654 "xxxxx pls delete xxxx"
pls delete

[2022-09-22 17:37] #654 closed, assigned to nobody

[2022-09-22 20:34] #647 closed, assigned to shreyas-gopalakrishna, amamounelsayed, kaibocai

[2022-09-22 23:21] shreyas-gopalakrishna opened #657 "Download latest App insights agent directly using pipeline"
- Download latest App insights agent directly using pipeline
- Find a way to remove the hard coded version in the pipeline

[2022-09-26 14:38] kaibocai opened #661 "Remove the catch all logics for azure-functions-java-library for cold start improvement"
We should remove the catch-all logics [in java worker](https://github.com/Azure/azure-functions-java-worker/blob/d9bf967547d606e354cafb4a8ea0e359d90489ed/src/main/java/com/microsoft/azure/functions/worker/broker/JavaFunctionBroker.java#L132) for cold start improvement.

This will be a break change for customers who are using old maven plugin to build their function app, since the old plugin will r

[2022-09-26 14:41] kaibocai commented on #661
FYI @safihamid

[2022-09-27 21:20] dviry commented on #321
This error STILL happens on latest (4.0.4785) - what's the fix for accepting byte[] as input?

For reference, here is the Trigger:
[code]

Also tried with HttpRequestMessage<>, no difference.

[2022-09-30 21:10] Francisco-Gamino opened #664 "Investigate Java language worker integration tests failures in Functions V4 for 9/30/22"
#### Investigative information

Investigate Java language worker integration tests failures in Functions V4 for 9/30/22

Here is the link to the pipeline executions with the test failures:
https://azfunc.visualstudio.com/Azure%20Functions/_build/results?buildId=97592&view=ms.vss-test-web.build-test-results-tab

![image](https://user-images.githubusercontent.com/12720858/193356657-34666d57-5a44-497

[2022-10-05 19:55] #595 closed, assigned to shreyas-gopalakrishna

[2022-10-11 15:28] #664 closed, assigned to nobody

[2022-10-14 18:54] Rashair commented on #345
It seems the be the same with Python (tested with multipart-form)

[2022-10-17 15:12] kshyju opened #671 "Send IncludeEmptyEntriesInMessagePayload capability to host to get empty entries in payload"
For trigger payloads of collection type(ex: event hub trigger payload with batched messages), host will [skip empty entries ](https://github.com/Azure/azure-functions-host/issues/8499)by default. We [recently made a host level change](https://github.com/Azure/azure-functions-host/pull/8642) so that host will not skip empty entries if worker includes `IncludeEmptyEntriesInMessagePayload` capability

[2022-10-25 19:20] kaibocai commented on #548
It's now in public review. Thanks.

[2022-10-31 16:54] kaibocai commented on #632
Haven't get response for more than 1 month. Will close the issue. Please reopen it if you still have the issue.

[2022-10-31 16:54] #632 closed, assigned to kaibocai

[2022-10-31 18:53] #310 closed

[2022-11-01 00:28] jimblanchard-ms opened #674 "Application of logging severity is inconsistent with documentation"
We are using the App Settings dialog to manage log levels for Azure Functions. According to https://learn.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#configure-categories, the Host.Results setting controls logging of entries to the requests table. However, with version 4.13 of the runtime, having
AzureFunctionsJobHost__logging__logLevel__default = Warning
AzureFunctionsJ

[2022-11-02 01:07] kaibocai commented on #324
The dependency injection hook PR https://github.com/Azure/azure-functions-java-worker/pull/667 is merged.
Please refer to [this repo](https://github.com/kaibocai/azure-function-java-dependency-injection-samples) for samples that using [google guice](https://github.com/google/guice) and [google dagger2](https://github.com/google/dagger) in azure java functions.

Will update here once this feature i

[2022-11-02 16:54] MadhuraBharadwaj-MSFT commented on #548
As @kaibocai mentioned, Java 17 has been in Public Preview since Sept 28: https://azure.microsoft.com/en-us/updates/public-preview-java-17-support-in-azure-functions/

[2022-11-02 16:57] MadhuraBharadwaj-MSFT commented on #548
We plan to announce GA support for Java 17 by mid December, 2022.

[2022-11-14 19:20] satvu opened #680 "function.json missing "dataType" property in some cases"
#### Repro steps

1. Create an EventHubs Trigger with `Cardinality.MANY` and an input parameter type of `String[]`.
2. Build the app.
3. Inspect `function.json` file.

#### Expected behavior

`function.json` file should have a line specifying the dataType. Example:

[code]

This host expects the dataType to be specified as "string" in this scenario, and from local testing, both dotnet-isolated and

[2022-11-15 17:51] sairamj15 commented on #213
We are leveraging Azure Durable functions using Java and would like to understand about the GA timeline for it. Any timeline on it?

[2022-11-25 09:07] ffarinha-msft opened #682 "Feature Request/Improvement - Add Gson type adapter for java.time.Instant"
When using the feature that some functions triggers implement, of allowing to received data as POJO ([like Event Grid trigger ](https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-trigger?tabs=in-process%2Cextensionv3&pivots=programming-language-java#event-grid-trigger-pojo-parameter) ) we found that we cannot deserialize the JSON payload to the type java.time.Ins

[2022-11-28 17:14] lucyzhang929 opened #683 "Empty string cannot be passed in HttpTrigger query string"
#### Repro steps

1. Run the following function from templates:
[code]
2. Send the following request: [http://localhost:7071/api/HttpTriggerJava1?name=](http://localhost:7071/api/HttpTriggerJava1?name=)

#### Expected behavior
`name` should be set to an empty string and  the function should return "Hello, "

#### Actual behavior
`name` is set to null and the function returns "Please pass a name on